<template lang="pug">
  .HomeScreen
    app-header(
      @open-modal="modalActive = true",
      :in_data="dataJson")

    .c-home
      .c-home__cover-page
        .swiper-container.swiper-cover-page
          .swiper-wrapper
            .swiper-slide.item(
              v-for="(element, index) in dataJson.coverPage",
              :key="`associates${index}`",
              :style="{background: `url('${element}')`}")

        .content
          .swiperCP-btn-next
            i.u-icon right
          .swiperCP-btn-prev
            i.u-icon left
          .o-container
            button.btn-associate.wow.fadeIn.u-btn-scale(
              data-wow-delay="1.5s",
              @click="toAssociate")
              |QUIERO ASOCIARME
            button.btn-contact.wow.fadeIn.u-btn-scale(
              data-wow-delay="2s",
              @click="modalActive = true")
              |CONTÁCTANOS


      .o-container
        .c-home__about
          .content.wow.fadeIn
            h3.header EMALTUR
            h2.title {{dataJson.title}}
            p.paragraph {{dataJson.subtitle}}
            button.button.u-btn-scale(@click="$router.push({name:'About'})")
              |SOBRE NOSOTROS
          .video.wow.fadeIn(v-show="dataJson.video",
            data-wow-delay="1s")
            <iframe height="270" :src="`https://www.youtube.com/embed/${dataJson.video}`" frameborder="0" allowfullscreen></iframe>

      .o-container.u-mb4
        .c-home__associates
          h2.title-section.wow.fadeIn(data-wow-delay="1s")
            span Conoce a nuestros&#32
            strong Asociados
          .u-relative.u-pl4.u-pr4
            .swiper-container.swiper-associates.wow.fadeIn(
              data-wow-delay="1s")
              .swiper-wrapper
                .swiper-slide.item(
                  v-for="(element, index) in dataJson.categories",
                  :key="`associates${index}`",
                  @click="$router.push({name:'Companies', query:{rubro: element.id}})")
                  div
                    figure
                      img(:src="element.imageUrl")
                    p.paragraph {{element.title}}
            .swiperAss-btn-next
              i.u-icon right
            .swiperAss-btn-prev
              i.u-icon left
          .footer.wow.fadeIn(data-wow-delay="1s")
            p.paragraph ¿Quieres saber como asociarte?
            button.button.u-btn-scale(@click="toAssociate") ¿CÓMO SER PARTE DE EMALTUR?

      .c-home__tv(v-show="dataJson.listVideos && dataJson.listVideos.length")
        .o-container
          h3.title.wow.fadeIn(data-wow-delay="1s") EMALTUR TV
          .list.wow.fadeIn(data-wow-delay="1s")
            .item(v-for="(element, index) in dataJson.listVideos",
                  :key="`videos${index}`")
              iframe(height="200", width="270", :src="`https://www.youtube.com/embed/${element.code}`", frameborder="0", allowfullscreen)
              p.paragraph {{element.title}}
            //- button
            //-   VER VIDEO
      .o-container(v-show="dataJson.news && dataJson.news.length")
        .c-home__news
          h3.title-section.wow.fadeIn(data-wow-delay="1s")
            span Enterate sobre nuestras&#32
            strong Actividades
          .list.wow.fadeIn(data-wow-delay="1s")
            .item(v-for="(element, index) in dataJson.news",
                  :key="`news${index}`",
                  @click="$router.push({name: 'BlogProfile', params:{blogSlug: element.slug}})")
              .tag {{element.tag}}
              figure
                img(:src="element.imageUrl")
              .text
                .date {{element.date}}
                h4.title {{element.title}}

      modal-contact(
        :active="modalActive",
        @close="modalActive = false")

    app-footer.wow.fadeIn(data-wow-delay="1s",
      :in_data="dataJson",
      @open-modal="modalActive = true")
</template>

<script>
  import axios from 'axios'

  export default {
    name: 'HomeScreen',

    data () {
      return {
        dataJson: {
          coverPage: {},
          listVideos: [{code: ''}],
          news: [],
          services: [{imageUrl: '', steps: []}]
        },
        selectedService: 0,
        modalActive: false
      }
    },

    created () { this.requestHome() },
    watch: {
      dataJson () {
        setTimeout(() => {
          this.initSwiperAssociates()
          this.initSwiperCoverPage()
        }, 500)
      }
    },
    methods: {
      requestHome () {
        axios({
          method: 'get',
          url: `${window.PATH}/api/home`,
          headers: { 'Content-Type': 'application/json' }
        })
          .then(({ data }) => {
            this.dataJson = data.data
          })
          .catch(({ response }) => {})
      },
      initSwiperCoverPage (tmp) {
        let swiper2 = new window.Swiper('.swiper-cover-page', {
          slidesPerView: 1,
          spaceBetween: 0,
          speed: 1000,
          simulateTouch: false,
          effect: 'fade',
          autoplay: 4000,
          // loop: true,
          nextButton: '.swiperCP-btn-next',
          prevButton: '.swiperCP-btn-prev'
          // navigation: {
          //   nextEl: '.swiperCP-btn-next',
          //   prevEl: '.swiperCP-btn-prev'
          // }
        })
        if (tmp) { console.log(swiper2) }
      },
      initSwiperAssociates (tmp) {
        let swiper = new window.Swiper('.swiper-associates', {
          slidesPerView: 4,
          spaceBetween: 30,
          pagination: '.pagination-associates',
          nextButton: '.swiperAss-btn-next',
          prevButton: '.swiperAss-btn-prev',
          breakpoints: {
            1600: {
              slidesPerView: 4,
              spaceBetween: 30
            },
            1200: {
              slidesPerView: 3,
              spaceBetween: 25
            },
            800: {
              slidesPerView: 2,
              spaceBetween: 20
            },
            640: {
              slidesPerView: 1,
              spaceBetween: 10
            }
          }
        })
        if (tmp) { console.log(swiper) }
      },
      toAssociate () {
        window.location = '/sobre-emaltur#associates'
      }
    }
  }
</script>
