<template lang="pug">
  modal-container(
    :active="active",
    @close="$emit('close')")
    div(slot="content", class="modal-gallery")
      button.btn-close(@click="$emit('close')")
        i.u-icon close
      figure
        img(:src="img")
</template>

<script>
  export default {
    props: {
      active: {
        type: Boolean,
        default: true
      },
      image: {
        type: String,
        default: '#'
      }
    },
    data () {
      return {
        img: ''
      }
    },
    watch: {
      active (newVal) {
        if (!newVal) {
          this.img = ''
        }
      },
      image (newVal) {
        this.img = newVal
      }
    }
  }
</script>
