<template lang="pug">
  .HomeScreen
    app-header(
      @open-modal="modalActive = true",
      :in_data="dataJson")

    .c-about
      .c-about__cover-page
        .container
          .o-container
            h2.title Somos la primera organización empresarial registrada formalmente en el Perú
            .btn-down(@click="toSection('#c-about__content')")
              i.u-icon right
      .c-about__content#c-about__content
        .o-wrapper
          .content
            h3.title
              //- strong EMPRESARIOS&#32
              span {{dataAbout.title}}
            ul.list
              li(:class="{'is-displayed': presentation}")
                h4.subtitle(@click="presentation = !presentation")
                  i.u-icon right
                  |Presentación
                div.paragraph(v-html="dataAbout.presentation")
              li(:class="{'is-displayed': history}")
                h4.subtitle(@click="history = !history")
                  i.u-icon right
                  |Nuestra historia
                div.paragraph(v-html="dataAbout.ourHistory")
              li(:class="{'is-displayed': mission}")
                h4.subtitle(@click="mission = !mission")
                  i.u-icon right
                  |Misión y Visión
                div.paragraph(v-html="dataAbout.mission")
              li(:class="{'is-displayed': objectives}")
                h4.subtitle(@click="objectives = !objectives")
                  i.u-icon right
                  |Nuestros Objetivos
                div.paragraph(v-html="dataAbout.objectives")
              li(:class="{'is-displayed': valueProposal}")
                h4.subtitle(@click="valueProposal = !valueProposal")
                  i.u-icon right
                  |Propuesta de Valor
                div.paragraph(v-html="dataAbout.valueProposal")
              li(:class="{'is-displayed': directive}")
                h4.subtitle(@click="directive = !directive")
                  i.u-icon right
                  |Junta Directiva
                div.paragraph(v-html="dataAbout.directive")
          figure.figure
            img(src="images/about.jpg")
        #associates

      .c-about__offers
        .o-container
          h3.title Te invitamos a ser parte de <strong>Emaltur</strong>
          div.content
            div
              h4.subtitle Accede a Beneficios
              ul
                li.item(
                  v-for="(element, index) in dataAbout.benefits",
                  :key="`benefits${index}`",) {{element}}
            div
              h4.subtitle Requisitos para ser Socio
              ul
                li.item(
                  v-for="(element, index) in dataAbout.requirements",
                  :key="`requirements${index}`",) {{element}}

      .c-about__gallery
        .o-wrapper
          h3.title Ser parte de nuestra gran familia
          ul.list
            li.item(
              v-for="(element, index) in dataAbout.gallery",
              :key="`gallery${index}`",
              @click="changeImage(element.url)")
              img(:src="element.urlThumb")
          div(class='u-center')
            button.c-btn-associate.u-btn-scale(@click="modalActive = true")
              | CONTACTO
      modal-gallery(
        :active="modalGallery",
        @close="modalGallery = false",
        :image="modalImage")

    .c-home
      modal-contact(
        :active="modalActive",
        @close="modalActive = false")

    app-footer(
      :in_data="dataJson",
      @open-modal="modalActive = true")
</template>

<script>
  import axios from 'axios'
  import ModalGallery from './ModalGallery'

  export default {
    name: 'AboutScreen',
    components: { ModalGallery },
    data () {
      return {
        dataJson: {
          coverPage: {},
          services: [{imageUrl: '', steps: []}]
        },
        dataAbout: {},
        selectedService: 0,
        modalActive: false,
        modalGallery: false,
        modalImage: '#',

        presentation: true,
        history: false,
        mission: false,
        objectives: false,
        valueProposal: false,
        directive: false
      }
    },

    created () {
      this.requestHome()
      this.requestAbout()
    },
    methods: {
      requestHome () {
        axios({
          method: 'get',
          url: `${window.PATH}/api/home`,
          headers: { 'Content-Type': 'application/json' }
        })
          .then(({ data }) => {
            this.dataJson = data.data
          })
          .catch(({ response }) => {})
      },
      requestAbout () {
        axios({
          method: 'get',
          url: `${window.PATH}/api/about`,
          headers: { 'Content-Type': 'application/json' }
        })
          .then(({ data }) => {
            this.dataAbout = data.data
          })
          .catch(({ response }) => {})
      },
      changeImage (image) {
        this.modalImage = image
        this.modalGallery = true
      },
      toSection (text) {
        let scrollTop = window.$(text).offset().top
        window.$('html, body').animate({
          scrollTop: scrollTop - 80
        }, 700)
      }
    }
  }
</script>
