@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");
/*------------------------------------*  #Settings
\*------------------------------------*/
/*------------------------------------*  #SPACES
\*------------------------------------*/
/*------------------------------------*  #Typography
\*------------------------------------*/
/*------------------------------------*  #Media Queries
\*------------------------------------*/
/*------------------------------------*  #Tools
\*------------------------------------*/
/*! sass-bem-constructor - version : 1.0.0 - 2016-07-24 */
/*------------------------------------*  #Generics
\*------------------------------------*/
/*------------------------------------*  #Base
\*------------------------------------*/
input, textarea, select {
  border-color: rgba(133, 131, 131, 0.3) !important;
  border-radius: 6px !important;
  box-sizing: border-box;
  color: #858383 !important;
  font-size: 1.4rem !important;
  height: auto !important;
}

input:focus, textarea:focus, select:focus {
  border-color: rgba(133, 131, 131, 0.7) !important;
  box-shadow: 0 0 0 0 !important;
}

textarea {
  resize: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px #f7f7f7 inset !important;
}

body {
  background: #efefef;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  font-family: "Ubuntu", serif;
  font-size: 16px;
  min-height: 100vh;
  overflow-x: hidden;
  padding-right: 0 !important;
}

img {
  max-width: 100%;
}

td {
  vertical-align: middle;
}

li {
  list-style: none;
}

/*------------------------------------*  #Objects
\*------------------------------------*/
.o-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .o-wrapper {
    width: 85%;
  }
}

@media screen and (max-width: 767px) {
  .o-wrapper {
    width: 90%;
  }
}

/*------------------------------------*  #Componets
\*------------------------------------*/
.c-category {
  border-top: 1px solid #f2f2f2;
  flex-wrap: wrap;
  position: relative;
}

.c-category__dropdown {
  background-color: white;
  border-right: 1px solid #f2f2f2;
  border: 0;
  color: #858383;
  height: 60px !important;
  outline: none;
  padding: 0 3.5rem 0 2.5rem;
  position: relative;
  text-transform: uppercase;
  z-index: 3;
}

.c-category__name {
  min-width: 150px;
  background-color: transparent;
  border: 0;
  font-size: 1.9rem;
  text-align: left;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  font-weight: 500;
}

.c-category__name:focus {
  outline: 0;
}

.c-category__name:hover {
  color: #858383;
}

.c-category__item {
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  color: white;
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 100%;
  padding: 2.25rem 4rem;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
}

.c-category__item span {
  color: white;
  font-size: 1.6rem;
  line-height: 1.2;
  text-align: center;
}

.c-category__item:hover {
  background-color: #0075a8;
  text-decoration: none;
}

.c-category__container {
  background-color: white;
  border: 1px solid #f2f2f2;
  opacity: 0;
  padding-left: 0;
  position: absolute;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  visibility: hidden;
  max-width: 100%;
  z-index: 3;
}

@media screen and (max-width: 767px) {
  .c-category__container {
    width: 100%;
  }
}

.c-category__container.is-active {
  opacity: 1;
  visibility: visible;
}

.c-category__subcategory-list {
  max-height: 0;
  overflow: hidden;
  padding-left: 0;
}

@media screen and (max-width: 767px) {
  .c-category__subcategory-list {
    width: 100%;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }
}

@media screen and (min-width: 768px) {
  .c-category__subcategory-list {
    background-color: white;
    left: 100%;
    position: absolute;
    top: 0;
  }
}

.c-category__subcategory {
  -webkit-box-align: start;
  align-items: flex-start;
  border-bottom: 1px solid #f2f2f2;
  display: -webkit-box;
  display: flex;
  font-size: 1.75rem;
  padding: 1rem 2rem;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .c-category__subcategory {
    padding-left: 4rem;
  }
}

.c-category__subcategory p {
  min-width: 140px;
  cursor: pointer;
  margin-right: 1.5rem;
}

.c-category__mask {
  background-color: rgba(0, 0, 0, 0.52);
  bottom: 0;
  cursor: pointer;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}

.c-category__mask.is-show {
  opacity: 1;
  pointer-events: all;
}

.c-category.is-active .c-category__subcategory-list {
  max-height: 100vh;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

@media screen and (min-width: 768px) {
  .c-category.is-active .c-category__subcategory-list {
    border: 1px solid #f2f2f2;
  }
}

.dropzone {
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  border: 2px dashed;
  color: #0099db;
  display: -webkit-box;
  display: flex;
  height: 180px;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  padding: .75rem;
}

.dropzone i {
  font-size: 4rem;
}

.dropzone label, .dropzone span {
  margin-bottom: 0;
  font-size: 1.8rem;
  font-weight: 400;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.dropzone_image, .dropzone input {
  -webkit-box-align: center;
  align-items: center;
  bottom: 0;
  display: -webkit-box;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  width: 100%;
}

.dropzone input {
  opacity: 0;
}

.dropzone img {
  vertical-align: middle;
  max-width: 95%;
  max-height: 95%;
  border-radius: 4px;
}

#dropzone_company.dropzone {
  height: 285px;
}

#dropzone_item.dropzone {
  height: 209px;
}

#dropzone_profile.dropzone {
  height: 303px;
}

#dropzone_account.dropzone {
  height: 195px;
}

/*------------------------------------*  #Header
\*------------------------------------*/
.c-header {
  display: -webkit-box;
  display: flex;
  height: 60px;
}

.c-header a {
  -webkit-box-align: center;
  align-items: center;
  color: white;
  display: -webkit-box;
  display: flex;
}

.c-header a:hover {
  text-decoration: none;
}

.c-header li {
  list-style: none;
  font-weight: bold;
}

.c-header__link {
  height: 100%;
}

.c-header__link a {
  -webkit-box-align: center;
  align-items: center;
  color: white !important;
  display: -webkit-box !important;
  display: flex !important;
  font-size: 1.6rem;
  height: 100%;
  padding: 1rem 3rem !important;
}

@media screen and (max-width: 767px) {
  .c-header__link a {
    padding: 1rem 1.25rem !important;
  }
}

.c-header__link.active a {
  background: #0087c2 !important;
}

.c-header__logo {
  -webkit-box-align: center;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #0099db;
  display: -webkit-box;
  display: flex;
  height: 100%;
  padding: 0 2rem;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .c-header__logo {
    padding: 0 1rem;
  }
}

.c-header__logo-image {
  display: block;
  height: 40px;
  margin: 0 auto;
}

.c-header__nav {
  -webkit-box-align: center;
  align-items: center;
  background-color: #0099db;
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1;
  height: 60px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.c-header__nav li a {
  padding: 1rem 2rem;
  box-sizing: border-box;
}

.c-header__nav li a:hover {
  background-color: #0087c2;
  color: white;
  text-decoration: none;
}

.c-header__nav li a:focus {
  background-color: #0099db;
  color: white;
  text-decoration: none;
}

.c-header__user {
  height: 100%;
}

.c-header__user .dropdown-toggle {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 100%;
  padding: 1rem 2rem;
  background: none;
  border: 0;
  color: white;
}

.c-header__user .dropdown-toggle figure {
  width: 36px;
  border-radius: 50%;
  background-color: white;
  height: 36px;
  overflow: hidden;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.c-header__user .dropdown-toggle img {
  max-width: none;
  max-height: 100%;
}

.c-header__user .dropdown-toggle span {
  margin-left: .75rem;
}

.dropdown-menu {
  margin: 0;
  border-radius: 0;
  border: 0;
}

.u-flex--header {
  display: -webkit-box;
  display: flex;
  height: 100%;
  margin: 0;
}

/*------------------------------------*  #Item
\*------------------------------------*/
.c-item {
  border-radius: 8px;
  box-shadow: 6px 6px 10px rgba(133, 131, 131, 0.2);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 370px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0 auto 4rem auto;
  max-width: 335px;
  -webkit-perspective: 1400px;
  perspective: 1400px;
  position: relative;
  width: 100%;
}

.c-item__wrapper {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  width: 100%;
}

.c-item__price {
  -webkit-box-align: center;
  align-items: center;
  background: #0099db;
  border-radius: 50%;
  box-shadow: 0 0 0 6px;
  color: white;
  display: -webkit-box;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  height: 80px;
  -webkit-box-pack: center;
  justify-content: center;
  position: absolute;
  right: -1.5rem;
  top: -1rem;
  width: 80px;
}

.c-item__image {
  border-radius: 8px 8px 0 0;
  display: -webkit-box;
  display: flex;
  height: 230px;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.c-item__image img {
  height: 100%;
  width: auto;
}

.c-item__title {
  padding: .75rem;
  padding-top: 1.5rem;
  color: #0099db;
  text-align: center;
  -webkit-box-flex: 1;
  flex: 1;
  margin: 0;
}

.c-item__btn {
  display: inline-block;
  font-size: 1rem;
  padding: 1rem 0;
  text-transform: uppercase;
  width: 25%;
  border: 0;
  bottom: 0;
}

.c-item__publish {
  border-radius: 0 0 0 8px;
}

.c-item__delete {
  border-radius: 0 0 8px 0;
}

.c-item--add {
  border: 2px dashed #0099db;
  background: none;
  color: #0099db;
  font-size: 3rem;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.c-item--add i {
  font-size: 4rem;
}

.objectfit .c-item__image img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

/*------------------------------------*  #Sub Header
\*------------------------------------*/
.c-sub-header {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-right: 1rem;
  position: absolute;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 2;
}

.c-sub-header li {
  list-style: none;
}

.c-sub-header.is-fixed {
  box-shadow: 0 1px 6px 1px rgba(133, 131, 131, 0.5);
  position: fixed;
}

.c-sub-header__categories {
  -webkit-box-flex: 0;
  flex: none;
}

.c-sub-header__categories:hover .c-categories, .c-sub-header__categories.is-active .c-categories {
  visibility: visible;
}

.c-sub-header__categories:hover .c-sub-header__categories-button::before, .c-sub-header__categories.is-active .c-sub-header__categories-button::before {
  display: block;
}

.c-sub-header__categories-button {
  background: white;
  border-right: 1px solid rgba(133, 131, 131, 0.25);
  border: 0;
  color: #858383;
  height: 60px;
  outline: none;
  padding: 0 3.5rem 0 2.5rem;
  position: relative;
  text-transform: uppercase;
}

.c-sub-header__categories-button::before {
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-top: 7px solid white;
  content: '';
  display: none;
  height: 0;
  left: 50%;
  position: absolute;
  top: 100%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  z-index: 2;
}

.c-sub-header__categories-button::after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid;
  content: '';
  height: 0;
  margin-left: .5rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 0;
}

@media screen and (max-width: 479px) {
  .c-sub-header__categories-button {
    padding: 0 2rem 0 1rem;
  }
}

.c-sub-header__link.active {
  background: #0075a8;
}

.c-sub-header__delete {
  color: white;
  cursor: pointer;
  font-size: 2.25rem !important;
  position: absolute;
  right: .7em;
  top: .7em;
}

.c-sub-header__search {
  background: white;
  border: 0;
  color: #000;
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1;
  height: 60px;
  max-width: 600px;
  position: relative;
}

.c-sub-header__search i {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  font-size: 1.3rem;
  pointer-events: none;
  position: absolute;
  height: 100%;
  right: 20px;
}

@media screen and (max-width: 479px) {
  .c-sub-header__search i {
    right: 10px;
  }
}

.c-sub-header__search input {
  border: 0;
  outline: 0;
  padding-left: 2rem;
  padding-right: 3rem;
  width: 100%;
}

.c-sub-header__search input:focus {
  border: 0 !important;
}

@media screen and (max-width: 479px) {
  .c-sub-header__search input {
    padding: 0 2rem 0 .75rem;
  }
}

.c-sub-header__item {
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  height: 100%;
  padding: 2.25rem 4rem;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
}

.c-sub-header__item figure {
  -webkit-box-align: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  display: -webkit-box;
  display: flex;
  height: 100px;
  -webkit-box-pack: center;
  justify-content: center;
  margin-bottom: 1rem;
  overflow: hidden;
  width: 100px;
}

.c-sub-header__item img {
  height: 100%;
  -webkit-transform-style: flat !important;
  transform-style: flat !important;
  width: auto !important;
}

.c-sub-header__item span {
  color: white;
  font-size: 1.6rem;
  line-height: 1.2;
  text-align: center;
}

.c-sub-header__item:hover {
  background: #0075a8;
  text-decoration: none;
}

.c-sub-header__edit .btn {
  padding: 8px 14px;
}

.c-sub-header.is-active .c-categories {
  visibility: visible;
}

.c-sub-header.is-active .c-sub-header__categories-button::before {
  display: block;
}

.c-sub-header--add {
  background: transparent;
  border: 0;
  box-sizing: border-box;
  color: white;
  font-size: 5rem;
  height: 100%;
  width: 100%;
}

.c-sub-header--add:hover {
  background: #0075a8;
  text-decoration: none;
}

.c-order {
  background-color: white;
  border: 2px solid rgba(133, 131, 131, 0.1);
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
  border-radius: 10px;
  display: block;
  text-align: left;
}

.c-table-order {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 500px;
  width: 100%;
  border-bottom: 2px solid #0099db;
}

.c-table-order tr {
  border-bottom: 2px solid rgba(0, 153, 219, 0.25);
}

.c-table-order tr:last-child {
  border-bottom-width: 0;
}

.c-table-order th {
  padding: .8rem;
  line-height: 1.2;
  border-bottom: 2px solid rgba(0, 153, 219, 0.25);
}

.c-table-order td {
  padding: 2rem .8rem;
  line-height: 1.2;
}

.c-table-order th {
  text-align: center;
}

.c-login {
  padding: 2rem 0;
  -webkit-box-align: center;
  align-items: center;
  background-color: white;
  color: rgba(133, 131, 131, 0.9);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  min-height: 100vh;
}

.c-login__logo {
  margin-bottom: 2rem;
  max-width: 90%;
}

.c-login__form {
  width: 260px;
  margin-top: 2rem;
}

.c-login__remember {
  margin-bottom: 4rem;
}

.c-login__footer {
  padding: 0 1rem;
  text-align: center;
  line-height: 1.1;
}

.c-login .form-control {
  font-weight: normal;
}

.c-login .btn-primary {
  background-color: #0099db;
  border-color: #0099db;
  border-radius: 8px;
  font-size: 1.9rem;
  height: auto !important;
  margin-bottom: 6rem;
  padding: 1rem 3.5rem;
}

.c-login .btn-primary:active, .c-login .btn-primary:focus, .c-login .btn-primary:hover {
  background: #0075a8 !important;
  border-color: #0075a8 !important;
}

@media screen and (max-width: 480px) {
  .c-login .c-login__logo {
    margin-bottom: 1rem;
  }
  .c-login .c-login__remember {
    margin-bottom: 2rem;
  }
  .c-login .btn-primary {
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
}

/*------------------------------------*  #Trumps
\*------------------------------------*/
/*------------------------------------*  #Base
\*------------------------------------*/
.item-video {
  position: relative;
  margin-bottom: 1rem;
  border-radius: 6px;
  overflow: hidden;
}

.item-video .item__controls {
  width: 100%;
  display: -webkit-box;
  display: flex;
}

.item-video .btn {
  width: 50%;
}

.item-video iframe {
  display: block;
}

.u-bg-primary {
  background-color: #0099db;
}

.u-bg-secondary {
  background-color: #000;
}

.u-bg-tertiary {
  background-color: #858383;
}

.u-bg-white {
  background-color: white;
}

.u-bg-wrapper {
  background-color: #efefef;
}

.u-bg-success {
  background-color: #5cb85c;
}

.u-bg-warning {
  background-color: #f0ad4e;
}

.u-bg-danger {
  background-color: #d43f3a;
}

/*------------------------------------*  #Bootstrap Buttons
\*------------------------------------*/
.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: 0 0 0 0 !important;
  border: 0 !important;
}

.btn-modal {
  padding: 1.5rem 4rem;
  font-size: 1.8rem;
}

.btn-primary {
  background: #0099db;
  border-color: #0099db;
}

.btn-primary:hover, .btn-primary:focus {
  background: #0099db !important;
  border-color: #0099db !important;
}

.btn-primary:active {
  background: #0099db !important;
  border-color: #0099db !important;
}

.btn-default {
  background: rgba(133, 131, 131, 0.5);
  border-color: rgba(133, 131, 131, 0.5);
  color: white;
}

.btn-default:hover {
  background: rgba(133, 131, 131, 0.75);
  color: white;
}

.btn-default:active {
  background: rgba(133, 131, 131, 0.9) !important;
  color: white !important;
}

/*------------------------------------*  #Bootstrap Modals
\*------------------------------------*/
.modal {
  padding-right: 0 !important;
}

.modal-close {
  background: none;
  border: 0;
  color: #c31515;
  font-size: 3rem;
  line-height: 1;
}

.modal-body {
  padding: 4rem 0;
  margin-left: 0;
  margin-right: 0;
}

.control-label {
  color: #858383;
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: .75rem;
  line-height: 1;
}

.control-label i {
  color: #0099db;
  margin-right: .5rem;
}

/*------------------------------------*  #Bootstrap Tabs
\*------------------------------------*/
.tab-content {
  border-top: 1px solid #0099db;
  position: relative;
}

.tab-content .tab-content {
  padding: 0 1rem;
  border-top: 0;
}

.tab-wrapper {
  background-color: white;
  margin: 1.5rem 0;
}

.nav-tabs {
  border: 0;
}

.nav-tabs > li > a {
  margin: 0;
  border: 0;
  border-radius: 0;
}

.c-header__nav .nav-tabs > li.active > a, .c-header__nav .nav-tabs > li.active > a:focus, .c-header__nav .nav-tabs > li.active > a:hover {
  background: #0099db;
  color: white;
  border: 0;
}

.c-header__nav .nav-tabs {
  overflow: hidden;
}

.c-header__nav .nav-tabs > li > a {
  color: #6b6a6a;
  border-radius: 0;
}

/*------------------------------------*  #Bootstrap Toogle
\*------------------------------------*/
.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #0099db;
  border-color: #0075a8;
}

.toggle {
  width: 150px !important;
}

/*------------------------------------*  #Bootstrap
\*------------------------------------*/
.panel-body .btn {
  border-radius: 0;
}

.form-control {
  background: rgba(133, 131, 131, 0.05);
  border-color: rgba(133, 131, 131, 0.2) !important;
  border-radius: 4px !important;
  box-shadow: 0 0 0 0;
  font-weight: 300;
  padding: .75rem 1.5rem;
}

.form-control:focus {
  background: white;
  border-color: rgba(133, 131, 131, 0.4) !important;
}

.form-group {
  margin-bottom: 1.5rem;
}

/* ------------ Data Tables ------------ */
/* -------- Text Area --------- */
#tab-company .nav-tabs > li.active > a, #tab-company .nav-tabs > li.active > a:focus, #tab-company .nav-tabs > li.active > a:hover {
  background: white;
  color: #0099db;
  border: 0;
}

#tab-company .nav-tabs {
  overflow: hidden;
}

#tab-company .nav-tabs > li > a {
  color: #6b6a6a;
  border-radius: 0;
  padding: 2rem 3rem;
}

.u-color-error {
  color: #c31515;
}

.u-color-primary {
  color: #0099db;
}

.u-color-secondary {
  color: #000;
}

.u-color-tertiary {
  color: #858383;
}

.u-color-text {
  color: #858383;
}

.u-flex {
  display: -webkit-box;
  display: flex;
}

.u-flex-1 {
  -webkit-box-flex: 1;
  flex: 1;
}

.u-flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.u-flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
}

.u-flex-wrap {
  flex-wrap: wrap;
}

.u-items-baseline {
  -webkit-box-align: baseline;
  align-items: baseline;
}

.u-items-center {
  -webkit-box-align: center;
  align-items: center;
}

.u-items-end {
  -webkit-box-align: end;
  align-items: flex-end;
}

.u-items-start {
  -webkit-box-align: start;
  align-items: flex-start;
}

.u-items-stretch {
  -webkit-box-align: stretch;
  align-items: stretch;
}

.u-justify-around {
  justify-content: space-around;
}

.u-justify-between {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.u-justify-center {
  -webkit-box-pack: center;
  justify-content: center;
}

.u-justify-end {
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.u-justify-start {
  -webkit-box-pack: start;
  justify-content: flex-start;
}

/*------------------------------------*  #MARGIN
\*------------------------------------*/
.u-m1 {
  margin: 0.25rem;
}

.u-mt1 {
  margin-top: 0.25rem;
}

.u-mr1 {
  margin-right: 0.25rem;
}

.u-mb1 {
  margin-bottom: 0.25rem;
}

.u-ml1 {
  margin-left: 0.25rem;
}

.u-my1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.u-mx1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.u-m2 {
  margin: 0.5rem;
}

.u-mt2 {
  margin-top: 0.5rem;
}

.u-mr2 {
  margin-right: 0.5rem;
}

.u-mb2 {
  margin-bottom: 0.5rem;
}

.u-ml2 {
  margin-left: 0.5rem;
}

.u-my2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.u-mx2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.u-m3 {
  margin: 1rem;
}

.u-mt3 {
  margin-top: 1rem;
}

.u-mr3 {
  margin-right: 1rem;
}

.u-mb3 {
  margin-bottom: 1rem;
}

.u-ml3 {
  margin-left: 1rem;
}

.u-my3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.u-mx3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.u-m4 {
  margin: 2rem;
}

.u-mt4 {
  margin-top: 2rem;
}

.u-mr4 {
  margin-right: 2rem;
}

.u-mb4 {
  margin-bottom: 2rem;
}

.u-ml4 {
  margin-left: 2rem;
}

.u-my4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.u-mx4 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.u-m5 {
  margin: 4rem;
}

.u-mt5 {
  margin-top: 4rem;
}

.u-mr5 {
  margin-right: 4rem;
}

.u-mb5 {
  margin-bottom: 4rem;
}

.u-ml5 {
  margin-left: 4rem;
}

.u-my5 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.u-mx5 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.u-m6 {
  margin: 8rem;
}

.u-mt6 {
  margin-top: 8rem;
}

.u-mr6 {
  margin-right: 8rem;
}

.u-mb6 {
  margin-bottom: 8rem;
}

.u-ml6 {
  margin-left: 8rem;
}

.u-my6 {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.u-mx6 {
  margin-left: 8rem;
  margin-right: 8rem;
}

.u-m0 {
  margin: 0;
}

.u-mt0 {
  margin-top: 0;
}

.u-mr0 {
  margin-right: 0;
}

.u-mb0 {
  margin-bottom: 0;
}

.u-ml0 {
  margin-left: 0;
}

.u-ml-auto {
  margin-left: auto;
}

.u-mr-auto {
  margin-right: auto;
}

.u-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/*------------------------------------*  #PADDING
\*------------------------------------*/
.u-p1 {
  padding: 0.25rem;
}

.u-pt1 {
  padding-top: 0.25rem;
}

.u-pr1 {
  padding-right: 0.25rem;
}

.u-pb1 {
  padding-bottom: 0.25rem;
}

.u-pl1 {
  padding-left: 0.25rem;
}

.u-py1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.u-px1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.u-p2 {
  padding: 0.5rem;
}

.u-pt2 {
  padding-top: 0.5rem;
}

.u-pr2 {
  padding-right: 0.5rem;
}

.u-pb2 {
  padding-bottom: 0.5rem;
}

.u-pl2 {
  padding-left: 0.5rem;
}

.u-py2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.u-px2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.u-p3 {
  padding: 1rem;
}

.u-pt3 {
  padding-top: 1rem;
}

.u-pr3 {
  padding-right: 1rem;
}

.u-pb3 {
  padding-bottom: 1rem;
}

.u-pl3 {
  padding-left: 1rem;
}

.u-py3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.u-px3 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.u-p4 {
  padding: 2rem;
}

.u-pt4 {
  padding-top: 2rem;
}

.u-pr4 {
  padding-right: 2rem;
}

.u-pb4 {
  padding-bottom: 2rem;
}

.u-pl4 {
  padding-left: 2rem;
}

.u-py4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.u-px4 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.u-p5 {
  padding: 4rem;
}

.u-pt5 {
  padding-top: 4rem;
}

.u-pr5 {
  padding-right: 4rem;
}

.u-pb5 {
  padding-bottom: 4rem;
}

.u-pl5 {
  padding-left: 4rem;
}

.u-py5 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.u-px5 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.u-p6 {
  padding: 8rem;
}

.u-pt6 {
  padding-top: 8rem;
}

.u-pr6 {
  padding-right: 8rem;
}

.u-pb6 {
  padding-bottom: 8rem;
}

.u-pl6 {
  padding-left: 8rem;
}

.u-py6 {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.u-px6 {
  padding-left: 8rem;
  padding-right: 8rem;
}

.u-py0 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-px0 {
  padding-left: 0;
  padding-right: 0;
}

.u-p0 {
  padding: 0;
}

.u-pt0 {
  padding-top: 0;
}

.u-pr0 {
  padding-right: 0;
}

.u-pb0 {
  padding-bottom: 0;
}

.u-pl0 {
  padding-left: 0;
}

/*------------------------------------*  #Sweet Alert
\*------------------------------------*/
.sweet-alert button.confirm {
  color: #fff;
  background-color: #0099db !important;
  border-color: #0075a8;
}

.sweet-alert button.cancel {
  background-color: rgba(133, 131, 131, 0.8);
}

/*------------------------------------*  #Type-Scale
\*------------------------------------*/
.u-fz-h00 {
  font-size: 4rem;
}

.u-fz-h0 {
  font-size: 3.5rem;
}

.u-fz-h1 {
  font-size: 3.125rem;
}

.u-fz-h2 {
  font-size: 2rem;
}

.u-fz-h3 {
  font-size: 1.5rem;
}

.u-fz-h4 {
  font-size: 1.16rem;
}

.u-fz-h5 {
  font-size: 1.1rem;
}

.u-fz-h6 {
  font-size: 1.16rem;
}

.u-fw-x-bold {
  font-weight: 800;
}

.u-fw-bold {
  font-weight: 700;
}

.u-fw-s-bold {
  font-weight: 600;
}

.u-fw-regular {
  font-weight: 400;
}

.u-fw-light {
  font-weight: 300;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .u-fz-h00 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .u-fz-h00 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 479px) {
  .u-fz-h00 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .u-fz-h0 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .u-fz-h0 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .u-fz-h0 {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .u-fz-h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .u-fz-h1 {
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 479px) {
  .u-fz-h1 {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .u-fz-h2 {
    font-size: 1.75rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .u-fz-h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 479px) {
  .u-fz-h2 {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 767px) {
  .u-fz-h3 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 991px) {
  .u-fz-h4 {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .u-fz-h5 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .u-fz-h5 {
    font-size: .95rem;
  }
}

.u-line-height-1 {
  line-height: 1;
}

.u-italic {
  font-style: italic;
}

.u-capitalize {
  text-transform: capitalize;
}

.u-lowercase {
  text-transform: lowercase;
}

.u-uppercase {
  text-transform: uppercase;
}

.u-left-align {
  text-align: left;
}

.u-center {
  text-align: center;
}

.u-right-align {
  text-align: right;
}

.u-justify {
  text-align: justify;
}

.u-line-1 {
  line-height: 1;
}

/* -------- Wysihtml5 --------- */
.wysihtml5-sandbox {
  background: rgba(133, 131, 131, 0.0470588) !important;
  width: 100% !important;
  min-height: 150px;
}

body.form-control.wysihtml5-editor {
  background: red !important;
}

.wysihtml5-toolbar .btn-default {
  background: #0099db;
  border: 0;
  padding: .25rem .75rem;
  color: white;
}

.wysihtml5-toolbar .btn-default:hover, .wysihtml5-toolbar .btn-default:focus, .wysihtml5-toolbar .btn-default:active {
  background: #0075a8 !important;
}

.wysihtml5-toolbar .btn-default.wysihtml5-command-active {
  background: #005275 !important;
}

.wysihtml5-toolbar .dropdown.open .btn-default,
.wysihtml5-toolbar .dropdown.open .btn-default:hover,
.wysihtml5-toolbar .dropdown.open .btn-default:active {
  background: #0075a8;
  color: white;
}

.wysihtml5-toolbar .dropdown-menu {
  padding: 0;
}

.wysihtml5-toolbar .dropdown-menu a {
  padding: 5px 20px;
}

.wysihtml5-toolbar a[data-wysihtml5-command-value='p'],
.wysihtml5-toolbar a[data-wysihtml5-command-value='h4'],
.wysihtml5-toolbar a[data-wysihtml5-command-value='h5'],
.wysihtml5-toolbar a[data-wysihtml5-command-value='h6'] {
  padding: 0;
}

/* ----------- Carousel ----------- */
/* ----------- Carousel Navs ----------- */
.owl-carousel .owl-nav .owl-next:hover, .owl-carousel .owl-nav .owl-prev:hover {
  color: #005275;
}

.item__controls {
  width: 100%;
  display: -webkit-box;
  display: flex;
}

.item__controls .btn {
  border-radius: 0;
  font-weight: bold;
}

.owl-nav {
  width: calc(100% + 6.2rem);
  display: -webkit-box;
  display: flex;
  left: -3.2rem;
  position: absolute;
  -webkit-box-pack: justify;
  justify-content: space-between;
  top: 42%;
  color: #000;
  z-index: -1;
}

.owl-prev.disabled,
.owl-next.disabled {
  color: rgba(0, 0, 0, 0.5);
}

.owl-prev.disabled:hover,
.owl-next.disabled:hover {
  color: rgba(0, 0, 0, 0.5) !important;
}

.owl-carousel .glyphicon {
  font-size: 3rem;
}

.owl-carousel ul {
  margin: 0;
}

.owl-carousel li {
  list-style: none;
}

.owl-carousel img {
  -webkit-transform-style: flat !important;
  transform-style: flat !important;
}

/* ----------- Carousel Video ----------- */
.owl-carousel--item .item-video {
  height: 100px;
}

.item__category {
  border: 1px solid #989898;
}

.owl-carousel--image {
  margin-top: .75rem;
}

.owl-carousel--image img {
  width: auto !important;
  max-width: 100%;
  max-height: 100%;
}

.owl-carousel--image .owl-nav {
  color: #0099db;
}

.owl-carousel--image .item__content {
  padding: 1rem;
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  text-align: center;
  overflow: hidden;
}

.owl-carousel--image .item__photo {
  position: relative;
  overflow: hidden;
  height: 150px;
  border-radius: 6px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: flex;
}

.owl-carousel--image .item__photo .item__controls {
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 6px;
  left: 0;
}

.owl-carousel--image .item__photo .glyphicon {
  font-size: 1.25rem;
}

.owl-carousel--image .item__photo .btn {
  border-radius: 3px;
}

.item-video {
  position: relative;
  margin-bottom: 1rem;
  border-radius: 6px;
  overflow: hidden;
}

.item-video .item__controls {
  width: 100%;
  display: -webkit-box;
  display: flex;
}

.item-video .btn {
  width: 50%;
}

.item-video iframe {
  display: block;
}

.item-account {
  position: relative;
  margin-bottom: 1rem;
  border-radius: 6px;
  overflow: hidden;
}

.item-account .item__controls {
  width: 100%;
  display: -webkit-box;
  display: flex;
}

.item-account .item-image {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 150px;
  background: rgba(133, 131, 131, 0.035);
}

.item-account .btn {
  width: 33.3%;
}

.item-account img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.u-shadow-bottom {
  box-shadow: 0 4px 16px 1px rgba(133, 131, 131, 0.5);
}

.u-height-100 {
  height: 100%;
}

.u-width-100 {
  width: 100%;
}

.u-z4 {
  z-index: 4;
}

.u-info {
  border-top: 1px solid rgba(133, 131, 131, 0.2);
  border-left: 1px solid rgba(133, 131, 131, 0.2);
  border-right: 1px solid rgba(133, 131, 131, 0.2);
  padding: .5rem 1rem;
}

.u-info:last-child {
  border-bottom: 1px solid rgba(133, 131, 131, 0.2);
}

.u-info:nth-child(odd) {
  background-color: rgba(133, 131, 131, 0.1);
}

.u-width-100 {
  width: 100%;
}

.u-label {
  border: 1px solid #efefef;
  color: white;
  padding: .15rem .5rem;
}
