<template lang="pug">
  div
    app-header(
      @open-modal="modalActive = true",
      :in_data="dataJson")

    .c-blog-profile
      //- .c-blog-profile__cover-page(
      //-   :style="{background: `url('${dataBlog.imageUrl}')`}")
      //- .c-blog-profile__cover-page(
        :style="{background: `url('${dataBlog.imageUrl}')`}")
        div
          //- h2.c-blog-profile__title
          //-   |{{dataBlog.title}}
          //- p.c-blog-profile__date
          //-   |{{dataBlog.date}}
      .c-blog
        .c-blog__wrapper
          .c-blog__content
            h2.c-blog-profile__title
              |{{dataBlog.title}}
            p.c-blog-profile__date
              |{{dataBlog.date}}
            .text.wow.fadeInUp(
              v-html="dataBlog.content",
              data-wow-delay="1s")
            img.wow.fadeInUp(:src="dataBlog.imageUrl")
            .c-blog-profile__shareds
              p COMPARTIR
              i.u-icon.u-icon--facebook(@click="openTabFacebook")
              i.u-icon.u-icon--twitter(@click="openTabTwitter")

            .u-mt5
              .fb-comments(
                :data-href="path + $route.fullPath",
                data-numposts="3")

            //- <div id="disqus_thread" style='width: 100%; margin:0'></div>
            vue-disqus(
              shortname="your_shortname_disqus",
              :title="dataBlog.title",
              :identifier="pageId"
              :url="pageUrl"
              style='width: 100%; margin:0')

          .c-posts__aside
            subscription()
            h3.title Publicaciones relacionadas
            .u-pb3
            a.c-blog-profile__related(
              v-for="(element, index) in dataRelated",
              :key="`realted${index}`",
              :href="`/blog/${element.slug}`")
              figure.figure
                img(:src="element.imageUrl")
              div
                h2.name {{element.title}}
                p.date {{element.date}}
            //- .u-pb3

            .u-pb4
            h3.title Síguenos en facebook
            .u-pb3
            iframe(
              :src="`https://www.facebook.com/plugins/page.php?href=${encodeURIComponent(dataJson.facebook)}&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=757347147757555`",
              style="height:500px;;width:100%;border:none;overflow:hidden",
              scrolling="no", frameborder="0", allowTransparency="true")

    .c-home
      modal-contact(
        :active="modalActive",
        @close="modalActive = false")

    app-footer(
      :in_data="dataJson",
      @open-modal="modalActive = true")
</template>

<script>
  import axios from 'axios'

  export default {
    data () {
      return {
        pageId: '1',
        pageUrl: window.location.href,
        dataJson: {},
        dataBlog: {},
        dataRelated: [],
        path: window.PATH,
        modalActive: false
      }
    },
    created () {
      this.requestHome()
      this.requestBlog()
      this.requestRelated()
    },
    methods: {
      requestHome () {
        axios({
          method: 'get',
          url: `${window.PATH}/api/home`,
          headers: { 'Content-Type': 'application/json' }
        })
          .then(({ data }) => {
            this.dataJson = data.data
          })
      },
      requestBlog () {
        let url = `${window.PATH}/api/posts`
        url += `/${this.$route.params.blogSlug}`
        axios({
          method: 'get',
          url: url,
          headers: { 'Content-Type': 'application/json' }
        })
          .then(({ data }) => {
            this.dataBlog = data.data
          })
      },
      requestRelated () {
        let url = `${window.PATH}/api/posts`
        url += `/${this.$route.params.blogSlug}`
        url += '/related?max_others=3'
        axios({
          method: 'get',
          url: url,
          headers: { 'Content-Type': 'application/json' }
        })
          .then(({ data }) => {
            this.dataRelated = data.data
          })
      },
      openTabFacebook (tmp) {
        let url = 'https://www.facebook.com/sharer.php?u='
        url += window.PATH + this.$route.fullPath
        let vartmp = window.open(url, 'EMALTUR - BLOG', 'menubar=1,resizable=1,width=350,height=250')
        if (!tmp) {
          console.log(vartmp)
        }
      },
      openTabTwitter (tmp) {
        let url = 'https://twitter.com/intent/tweet?url='
        url += window.PATH + this.$route.fullPath
        url += '&text=' + this.dataBlog.title + ' -'
        url += '&hashtags=Emaltur'
        let vartmp = window.open(url, 'EMALTUR - BLOG', 'menubar=1,resizable=1,width=350,height=250')
        if (!tmp) {
          console.log(vartmp)
        }
      }
    },

    watch: {
      $route (val) {
        this.pageUrl = window.location.href
      }
    }
  }
</script>
