<template lang="pug">
  modal-container(
    :active="active",
    @close="$emit('close')")
    div(slot="content", class="modalGallery")
      .swiper-container.swiper-gallery
        .swiper-wrapper
          .swiper-slide.item(
            v-for="(element, index) in gallery",
            :key="`gallery${index}`")
            figure.figure
              img(:src="element.url")
        .swiperGallery-btn-next
          i.u-icon right
        .swiperGallery-btn-prev
          i.u-icon left
</template>

<script>
  export default {
    props: {
      active: {
        type: Boolean,
        default: true
      },
      gallery: {
        type: Array,
        default () {
          return []
        }
      }
    },
    watch: {
      active (newVal) {
        if (newVal) {
          setTimeout(() => {
            this.initSwiperAssociates()
          }, 300)
        } else {
          window.swiperCompaniesGallery.destroy()
        }
      }
    },
    methods: {
      initSwiperAssociates (tmp) {
        window.swiperCompaniesGallery = new window.Swiper('.swiper-gallery', {
          slidesPerView: 1,
          spaceBetween: 30,
          nextButton: '.swiperGallery-btn-next',
          prevButton: '.swiperGallery-btn-prev'
        })
        if (tmp) { console.log(window.swiperCompaniesGallery) }
      }
    }
  }
</script>
