<template lang="pug">
  .HomeScreen
    app-header(
      @open-modal="modalActive = true",
      :in_data="dataJson")

    .c-companies
      .o-container
        h2.c-companies__title
          strong Asociados
          span Directorio Empresarial

        .c-companies__content
          .list
            .item(
              v-for="(element, index) in dataCompanies",
              :key="`companies${index}`")
              figure.logo(@click="openModalGallery(element.gallery)")
                img(:src="element.imageUrl")
              .data
                h4.title(@click="openModalGallery(element.gallery)") {{element.name}}
                span.subtitle {{element.activityName}}
                p.paragraph.address.u-mt3.u-mb0(
                  v-show="element.address",
                  @click="openModalMaps(element)")
                  i.u-icon compass
                  |{{element.address}}
                p.paragraph.u-mt0.u-mb0(v-show="element.cellphone")
                  i.u-icon whatsapp
                  a(:href='`https://api.whatsapp.com/api/send?phone=${element.cellphone}&text=Quiero más información sobre ${element.name}`' class='u-inline' target='_blank') {{element.cellphone}}
                  span(v-show='element.phone')  / {{element.phone}}
                p.paragraph.u-mt0.u-mb0(v-show="element.email")
                  i.u-icon mail
                  a(:href='`mailto:${element.email}`' class='u-inline') {{element.email}}
                a.paragraph.u-mt0.u-mb0(
                  v-show="element.website",
                  :href="element.website",
                  target="_blank")
                  i.u-icon web
                  |{{element.website}}
                a.paragraph.u-mt0.u-mb0(
                  :href="element.facebookLink",
                  target="_blank",
                  v-show="element.facebook")
                  i.u-icon facebook
                  |{{element.facebook}}
              .seals
                div(
                  v-for="(ele, indx) in element.seals",
                  :key="`seals${indx}`")
                  figure
                    img(:src="ele.imageUrl")
                  p.title {{ele.name}}

          .search(:class="{'is-displayed': searchDisplayed}")
            button.title(@click="searchDisplayed = true")
              |BUSCAR EMPRESA
            button.close(@click="searchDisplayed = false")
              i.u-icon close
            .container
              h5.subtitle Buscar por nombre de la empresa :
              input.input(type="text",
                v-model="searchText",
                placeholder="Nombre de la empresa",
                @keyup.enter="searchCompanies")
              h5.subtitle Filtrar por rubro :
              ul.list
                li(@click="allCompanies",
                  v-show="searchText || tagId !== 0")
                  |Ver todos
                li(v-for="(element, index) in tags",
                  :keys="`tags${index}`",
                  @click="tagCompanies(element.id)")
                  |{{element.name}}

      modal-gallery(
        :active="modalGallery",
        :gallery="modalGalleryData",
        @close="modalGallery = false")

    .c-home
      modal-contact(
        :active="modalActive",
        @close="modalActive = false")

    modal-maps(
      :active="modalMaps",
      :latitude="latitude",
      :longitude="longitude",
      :text="textMap",
      @close="modalMaps = false")

    app-footer(
      :in_data="dataJson",
      @open-modal="modalActive = true")
</template>

<script>
  import axios from 'axios'
  import ModalMaps from 'components/ModalMaps'
  import ModalGallery from './ModalGallery'

  export default {
    name: 'CompaniesScreen',
    components: { ModalMaps, ModalGallery },
    data () {
      return {
        dataJson: {
          coverPage: {},
          services: [{imageUrl: '', steps: []}]
        },
        dataCompanies: [],
        dataCompaniesTmp: [],
        isMobile: false,
        tags: [],
        tagId: 0,

        modalGallery: false,
        modalGalleryData: [],

        modalActive: false,
        modalMaps: false,
        latitude: -18.01301843,
        longitude: -70.250144,
        textMap: '',

        searchDisplayed: false,
        searchText: ''
      }
    },

    created () {
      this.requestHome()
      this.requestCompanies()
      this.requestTag()
    },
    methods: {
      requestHome () {
        axios({
          method: 'get',
          url: `${window.PATH}/api/home`,
          headers: { 'Content-Type': 'application/json' }
        })
          .then(({ data }) => {
            this.dataJson = data.data
          })
          .catch(({ response }) => {})
      },
      requestTag () {
        axios({
          method: 'get',
          url: `${window.PATH}/api/activities`,
          headers: { 'Content-Type': 'application/json' }
        })
          .then(({ data }) => {
            this.tags = data.data
          })
          .catch(({ response }) => {})
      },
      requestCompanies () {
        axios({
          method: 'get',
          url: `${window.PATH}/api/companies`,
          params: {activity_id: this.$route.query.rubro},
          headers: { 'Content-Type': 'application/json' }
        })
          .then(({ data }) => {
            this.dataCompanies = data.data
            this.dataCompaniesTmp = data.data
          })
          .catch(({ response }) => {})
      },
      searchCompanies () {
        axios({
          method: 'get',
          url: `${window.PATH}/api/companies`,
          params: { search: this.searchText },
          headers: { 'Content-Type': 'application/json' }
        })
          .then(({ data }) => {
            this.dataCompanies = data.data
          })
          .catch(({ response }) => {})
      },
      tagCompanies (id) {
        this.tagId = id
        axios({
          method: 'get',
          url: `${window.PATH}/api/companies`,
          params: { activity_id: id },
          headers: { 'Content-Type': 'application/json' }
        })
          .then(({ data }) => {
            this.dataCompanies = data.data
          })
          .catch(({ response }) => {})
      },
      allCompanies () {
        this.dataCompanies = this.dataCompaniesTmp
        this.searchText = ''
        this.tagId = 0
      },
      openModalMaps (element) {
        this.latitude = element.latitude
        this.longitude = element.longitude
        this.textMap = element.name
        this.modalMaps = true
      },
      openModalGallery (element) {
        this.modalGalleryData = element
        this.modalGallery = true
      }
    },
    mounted () {
      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        this.isMobile = true
      }
    }
  }
</script>
