/*------------------------------------*\
  #Project settings
\*------------------------------------*/

// $color-primary    : lighten(#a3cd3a, 3%);
$color-primary    : #8BC53E;
$color-secondary  : #F4811F;
$color-tertiary   : #009FE3;



/*------------------------------------*\
#beakpoints
\*------------------------------------*/
$breakpoint-sm: 450px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

$breakpoints: (
  'mobile': 450px, // 20em
  'tablet': 768px, // 48em
  'laptop': 1024px // 64em
) !default;

// tell the rest of framework that we have this module
// $wocss-settings-breakpoints: true;
$wocss-tools-bem-constructor: true;



/*------------------------------------*\
#Project settings
\*------------------------------------*/

$border-radius: 0.3rem;



/*------------------------------------*\
  #Trumps settings
\*------------------------------------*/

$icomoon-font-path: '~fonts/icons/fonts';





/*------------------------------------*\
#Fonts settings
\*------------------------------------*/

$name-font-family: 'Roboto Slab', serif;
