.u-between {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.u-flex-two {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;

  @media (min-width: 900px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
