@include utility('flex') {
  display: flex;
}

@include utility('flex-wrap') {
  flex-wrap: wrap;
}


@include utility('flex-column') {
  display: flex;
  flex-direction: column;
}
// @include utility('wrap') { flex-wrap: wrap }
@include utility('flex-1') { flex: 1 }
@include utility('flex-2') { flex: 2 }

@include utility('justify-between') { justify-content: space-between }
@include utility('justify-center') { justify-content: center }
@include utility('justify-end') { justify-content: flex-end }
@include utility('wrap') { flex-wrap: wrap }

@include utility('items-end') { align-items: flex-end }
@include utility('items-start') { align-items: flex-start }
@include utility('items-center') { align-items: center }
@include utility('items-baseline') { align-items: baseline }
