.u-uppcercase {
  text-transform: uppercase;
}
.u-lowercase {
  text-transform: lowercase;
}
.u-inherit {
  text-transform: inherit;
}
.u-capitalize {
  text-transform: capitalize;
}
.u-align-center {
  text-align: center;
}
.u-text-right {
  text-align: right;
}
