.o-container {
  // max-width: 1024px + 1rem;
  max-width: 1224px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;

  @media (min-width: $breakpoint-md) {
    // max-width: 1024px + 2rem;
    // max-width: 1256px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
