@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?42bfk5') format('truetype'),
    url('fonts/icomoon.woff?42bfk5') format('woff'),
    url('fonts/icomoon.svg?42bfk5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.u-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.u-icon--web:before {
  content: "\e914";
}
.u-icon--left:before {
  content: "\e911";
}
.u-icon--right:before {
  content: "\e913";
}
.u-icon--whatsapp:before {
  content: "\e912";
}
.u-icon--close:before {
  content: "\e910";
}
.u-icon--facebook:before {
  content: "\e90b";
}
.u-icon--gplus:before {
  content: "\e90c";
}
.u-icon--instagram:before {
  content: "\e90d";
}
.u-icon--twitter:before {
  content: "\e90e";
}
.u-icon--youtube:before {
  content: "\e90f";
}
.u-icon--facebook-circle:before {
  content: "\e900";
}
.u-icon--arrow-right:before {
  content: "\e901";
}
.u-icon--arrow-left:before {
  content: "\e902";
}
.u-icon--gplus-circle:before {
  content: "\e903";
}
.u-icon--mail:before {
  content: "\e904";
}
.u-icon--phone:before {
  content: "\e905";
}
.u-icon--compass:before {
  content: "\e906";
}
.u-icon--instagram-circle:before {
  content: "\e907";
}
.u-icon--menu:before {
  content: "\e908";
}
.u-icon--play:before {
  content: "\e909";
}
.u-icon--twitter-circle:before {
  content: "\e90a";
}
