.c-about
  &__cover-page
    background: url('/images/emaltur-team.jpg')
    background-size: cover;
    background-position: center center;
    height: 35rem
    width: 100%
    .container
      width: 100%
      height: 100%
      background: rgba(#000, .5)
      .o-container
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%
      .title
        color: #fff
        max-width: 45rem
        font-size: 2.4rem
        line-height: 1
        text-align: center;
        margin: 0
      .btn-down
        background: $color-secondary
        color: #fff
        position: absolute;
        bottom: 2rem
        left 50%
        width: 2.4rem
        height: 2.4rem
        font-size: 0.7rem
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%
        cursor: pointer;
        .u-icon
          padding-left: 5px
          transform rotate(90deg)
    @media (min-width: 450px)
      height: calc(100vh - 4.2rem)
    @media (min-width: 750px)
      .container .title
        font-size: 2.8rem
    @media (min-width: 1024px)
      height: calc(100vh - 5.5rem)

  &__content
    background: $color-secondary
    color: #fff
    padding: 5rem 0
    position: relative
    .title
      margin: 0 0 2rem 0
      font-size: 1.5rem
      font-weight: 300
      line-height: 1.1
      strong
        font-weight: 700;
      &::before
        margin-bottom: 0.5rem
        content: ''
        width: 22px
        height: 5px
        background: #fff
        display: block;
    .list
      & > *
        padding: 1rem 0
        border-bottom: 1px solid #fff
      .subtitle
        font-weight: 400
        font-size: 13px
        display: flex;
        align-items: center;
        margin: 0
        cursor: pointer;
        user-select: none;
        .u-icon
          background: rgba(#000, .2)
          width: 1.8rem
          font-size: 0.5rem
          height: 1.8rem
          margin-right: 0.5rem
          display: flex;
          justify-content: center;
          align-items: center;
          flex: none
          border-radius: 50%
      .paragraph
        font-size: 0.8rem
        font-weight: 300
        line-height: 1.1
        display: none
        margin-top: 1rem
      .is-displayed
        .paragraph
          display: block;
    .figure
      display: none;

    @media (min-width: 650px)
      .title
        font-size: 1.9rem
        &::before
          width: 22px
          height: 6px
      .list .subtitle
        font-size: 16px
        .u-icon
          height: 2rem
          width: 2rem
      .list .paragraph
        font-size: 0.9rem
        font-weight: 400
        opacity: 0.9
    @media (min-width: 700px)
      .content
        width: 60%
      .figure
        display: block;
        width: 18em
        position: absolute;
        top: 50%
        transform: translateY(-50%);
        right: 0
        border-top-left-radius: 50%
        border-bottom-left-radius: 50%
        overflow: hidden;
        img
          width: 100%
          height: auto;
    @media (min-width: 900px)
      .figure
        width: 23rem
    @media (min-width: 1024px)
      .content
        max-width: 500px
      .figure
        width: 27rem
    @media (min-width: 1200px)
      .figure
        width: 33rem



  &__offers
    padding: 3rem 0
    .title
      font-size: 1.5rem
      font-weight: 300
      text-align: center;
      margin: 0 0 3rem 0
      strong
        font-weight: 600
    .content
      padding: 0 2rem
      & > *:nth-child(1)
        margin-bottom: 1rem
      .subtitle
        margin: 0 0 1rem 0
        color: $color-secondary
      .item
        display: flex;
        align-items: center;
      .item::before
        content: '✔'
        background: #00C350
        color: #ffff
        height: 15px
        width: 15px
        border-radius: 50%
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.6rem
        margin-right: 0.5rem
    @media (min-width: 550px)
      .title
        font-size: 2rem
      .content
        display: flex;
        justify-content: center;
        padding: 0
        & > *:nth-child(1)
          margin-right: 3rem
          margin-bottom: 0
        .item
          font-size: 1rem
        .subtitle
          font-size: 1.2rem
    @media (min-width: 750px)
      padding: 4rem 0
      .content
        & > *:nth-child(1)
          margin-right: 5rem

  &__gallery
    padding: 0rem 0 2rem 0
    .title
      margin: 0 0 2.5rem 0
      font-weight: 300
      text-align: center;
      font-size: 1.6rem
    .item
      width: 100%
      margin: 1rem
      cursor: pointer;
      img
        width: 100%
        height: auto;
        display: block;
    @media (min-width: 550px)
      .list
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      .item
        margin: 0.5rem
        max-width: 250px

    @media (min-width: 750px)
      padding: 0rem 0 4rem 0
      .item
        max-width: 300px
        margin: 0.55rem

  .modal-gallery
    position: relative;
    .btn-close
      position: absolute;
      top: 1rem
      right: 1rem
      background: $color-secondary
      color: #fff
      height: 2.5rem
      width: 2.5rem
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%
      border: none
    img
      max-width: 95vh
