.c-app-footer
  background: #131313
  padding-top: 2.5rem
  padding-bottom: 1rem
  color: #eee
  &__content
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
  .logo
    height: 5rem
    img
      height: 100%
      width: auto;
  .title
    font-size: 0.9rem
  .data
    font-size: 0.9rem
    color: #aaa
    .u-icon
      color: $color-secondary
      margin-right: 0.5rem
      font-size: 1rem
  .socials
    color: #fff
    display: flex;
    & > *
      height: 1.75rem
      width: 1.75rem
      font-size: 0.9rem
      border-radius: 50%
      display: flex;
      margin-right: 0.4rem
      justify-content: center;
      align-items: center;
    .facebook
      background: #3b5998
    .twitter
      background: #1DA1F2
    .youtube
      background: #dd0000
      font-size: 1.1rem
    .googleplus
      background: #d34836
    .instagram
      background: #fb3958
      background: linear-gradient(45deg, #ffc738 0%, #fb3959 48%, #0456ef 100%);
      font-size: 1.2rem
  &__copyright
    padding: 2rem 1.5rem 0 1.5rem
    max-width: 1024px
    margin: 0 auto;
    color: #aaa
    align-items: center;
    font-size: 0.8rem
    a
      font-weight: 600
    a:hover
      color: #fff
    @media (min-width: 600px)
      display: flex;
      justify-content: space-between;
      flex-direction: row;

  @media (max-width: 900px)
    &__content
      flex-wrap: wrap;
      justify-content: center;
      & > *
        padding-left: 1rem
        padding-right: 1rem
        margin-top: 1rem
        margin-bottom: 1rem
