.c-app-header
  height: 3.2rem
  &__wrapper
    background-color: #fff
    box-shadow: 0px 2px 10px rgba(#000, .2)
    height: 3.2rem
    left 0
    position: fixed;
    top: 0
    width: 100%
    z-index: 3
    & > *
      height: 3.2rem
      width: 100%
    .link
      color: #555
      font-size: 0.9rem
      font-weight: 400
      margin-right: 2rem
      text-transform: uppercase;
    .link:hover
      color: $color-tertiary

  &__logo
    align-items: center;
    background: #fff
    border-radius: 50%
    bottom: -3rem
    display: flex;
    height: 6rem
    justify-content: center;
    left: 2rem
    position: absolute;
    width: 6rem
    img
      height: auto;
      width: calc(100% - 1rem);
    @media (min-width: 500px)
      left: initial
      right: 350px
  &__aside
    align-items: center;
    display: flex;
    height: 100%
    justify-content: flex-end;
    .link
      display: none
    .btn-associate
      background-color: $color-primary
      border: none
      color: #fff
      font-size: 0.8rem
      font-weight: 600
      padding: 0.5rem 0.8rem
    .socials
      display: none
      margin-left: 1rem
      & > *
        align-items: center;
        border-radius: 50%
        color: #fff
        display: flex;
        height: 1.8rem
        justify-content: center;
        margin-right: 0.3rem
        width: 1.8rem
        font-size: 0.9rem
      .facebook
        background: #3b5998
      .twitter
        background: #1DA1F2
      .youtube
        background: #dd0000
        font-size: 1.1rem
      .googleplus
        background: #d34836
      .instagram
        background: #fb3958
        background: linear-gradient(45deg, #ffc738 0%, #fb3959 48%, #0456ef 100%);
        font-size: 1.2rem
    .btn-menu
      align-items: center;
      border: none
      color: $color-secondary
      display: flex;
      font-size: 1.3rem
      justify-content: center;
      margin-left: 0.5rem
      padding: 0.3rem 0 0.3rem 0
    @media (min-width: 450px)
      .link
        display: block;


  &__bg
    background: rgba(#000, .75)
    cursor: pointer;
    display: none
    height: 100%
    left: 0
    position: fixed;
    top: 0
    width: 100%
  &__menu
    background: #fff
    height: 100%
    left: -300px
    padding: 5rem 2rem
    position: fixed;
    top: 0
    transition: left ease 0.5s
    width: 300px
    .link
      align-items: center;
      color: $color-text
      display: flex;
      font-size: 1rem
      padding: 0.5rem 0
      text-transform: capitalize;
      width: 100%
      &:hover
        &::before
          background-color: $color-secondary
          border-radius: 1rem
          content: ''
          display: block;
          height: 3px
          margin-right: 0.5rem
          width: 20px
    .btn-close
      border: none
      color: $color-secondary
      display: flex;
      font-size: 1.3rem
      padding: 0
      position: absolute;
      right: 2rem
      top: 2rem
    .btn-associate
      background: $color-primary
      border: none
      color: #fff
      font-weight: 600
      margin-top: 1rem
      padding: 0.75rem 1.5rem
    .socials
      display: flex;
      margin-top: 2rem
      & > *
        align-items: center;
        border-radius: 50%
        color: #fff
        display: flex;
        height: 2rem
        justify-content: center;
        margin-right: 0.3rem
        width: 2rem
      .facebook
        background: #3b5998
      .twitter
        background: #1DA1F2
      .youtube
        background: #dd0000
        font-size: 1.1rem
      .googleplus
        background: #d34836
      .instagram
        background: #fb3958
        background: linear-gradient(45deg, #ffc738 0%, #fb3959 48%, #0456ef 100%);
        font-size: 1.2rem
  &.is-displayed
    .c-app-header__bg
      display: block;
    .c-app-header__menu
      left 0

  @media (min-width: 750px)
    &__wrapper
      & > *
        display: flex;
        justify-content: space-between;
    &__menu
      position: static;
      padding: 0
      display: flex;
      .btn-associate,
      .socials,
      .btn-close,
      .link.contact
        display: none
      .link.about
        min-width: 7.5rem
      .link
        text-transform: uppercase;
        font-size: 0.9rem
      .link:hover
        &::before
          display: none
    &__aside
      .btn-menu
        display: none
      .socials
        display: flex;

  @media (min-width: 450px)
    height: 4.2rem
    &__wrapper
      height: 4.2rem
      & > *
        height: 4.2rem
  @media (min-width: 850px)
    &__logo
      height: 8rem
      width: 8rem
      left: 50%
      transform: translateX(-50%);
      bottom: -4rem
      img
        width: calc(100% - 2rem);
  @media (min-width: 1024px)
    height: 5.5rem
    &__wrapper
      height: 5.5rem
      & > *
        height: 5.5rem
    &__logo
      height: 12rem
      width: 12rem
      bottom: -6rem
      img
        width: calc(100% - 2.5rem);
