.c-button {
  align-items: center;
  // background: linear-gradient(to right, $color-primary 0%, $color-secondary 100%);
  background-color: $color-secondary;
  border: none
  color: #fff;
  display: flex;
  font-weight: 700;
  height: 3rem;
  justify-content: center;
  outline: none;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  width: 13rem;
}

.c-btn-associate {
  background-color: $color-primary;
  border: none;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0.5rem 0.8rem;
}
