.c-companies
  background: #F2F2F2
  padding: 4rem 0

  &__title
    border-bottom: 2px solid #ccc
    color: #333
    font-size: 0.9rem
    line-height: 1.1
    margin: 0 0 1rem 0
    padding-bottom: 1rem
    text-align: center;
    strong
      color: $color-secondary
      display: block;
      font-size: 1.4rem

  .list .item
    background-color: #fff
    padding: 1.2rem 1rem
    margin-top: 1rem
    transition: 0.5s ease box-shadow
    &:hover
      box-shadow: 8px 8px 10px rgba(#000, .15)
    .logo
      cursor: pointer;
    figure
      align-items: center;
      display: flex;
      height: 9rem
      justify-content: center;
      width: 9rem
      img
        width: 100%
    .data
      .title
        font-size: 0.9rem
        line-height: 1
        margin: 0
        cursor: pointer;
      .subtitle
        color: #666
        font-size: 0.8rem
      .paragraph
        font-size: 0.9rem
      .address
        cursor: pointer;
      .u-icon
        color: $color-secondary
        font-size: 0.9rem
        margin-right: 0.5rem
    .seals
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 1.5rem
      height: 100%
      & > *
        width: 5rem
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%
      .title
        display: none
        margin-bottom: 0
        font-size: 0.7rem
        margin-bottom: 0
        text-align: center;
      figure
        width: 100%
        height: 100%
        background: #eee
        min-height: 5rem
        display: flex;
        justify-content: center;
        align-items: center;
        flex: none
        img
          width: 100%
          height: auto;
  .search
    background: #fff
    height: calc(100vh + 3rem)
    left: 0
    position: fixed;
    top: calc(100vh - 3rem)
    transition: top 1s ease
    width: 100%
    z-index: 3
    &.is-displayed
      top: -3rem
    .container
      padding: 3rem 2rem 2rem 2rem
    .title
      background: $color-tertiary
      align-items: center;
      color: #fff
      cursor: pointer;
      display: flex;
      font-size: 0.85rem
      font-weight: 600
      height: 3rem
      justify-content: center;
      margin: 0
      text-align: center;
      width: 100%
      border: none
    .close
      position: absolute;
      top: 4rem
      right 1.5rem
      color: $color-secondary
      border none
    .subtitle
      font-size: 1.1rem
      line-height: 1.1
    .input
      background: #E7E7E7
      border: 2px solid #E7E7E7
      padding: 0.75rem 1rem
      font-size 0.9rem
      text-align: center;
      color: #888
    .input::placeholder
      color: #999
    .input:focus
      background: transparent
    .list > *
      font-size: 0.9rem
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 3px 0
    .list > *:hover
      text-decoration: underline;
    .list > *::before
      content: ''
      height: 5px
      width: 5px
      margin-right: 0.5rem
      background: $color-tertiary
      display: block;
      border-radius: 50%

  @media (min-width: 400px)
    .list
      .item
        padding: 1.5rem 0.5rem
        display: flex;
        flex-wrap: wrap;
        & > *
          margin-left: 0.75rem
          margin-right: 0.75rem
        .seals
          margin-left: auto;
          & > *
            margin-left: 0.5rem
            margin-right: 0.5rem

  @media (min-width: 700px)
    padding: 6rem 0 4rem 0
    &__title
      text-align: left;
      font-size: 1.2rem
      padding-bottom: 1.75rem
      margin-bottom: 1.5rem
      strong
        font-size: 1.7rem
    &__content
      .list .item
        .seals .title
          display: block;
  @media (min-width: 820px)
    &__content
      display: flex;
      .item
        margin-top: 0
        margin-bottom: 1rem
        margin-right: 1.5rem
      .search
        position: static;
        width: 320px
        background: transparent
        color: #fff
        height: initial
        z-index: 1
        .container
          background: $color-tertiary
        .subtitle:nth-child(1)
          margin-top: 0
          margin-bottom: 1.5rem
        .subtitle
          margin-bottom: 1rem
        .list > *::before
          background: #fff
        .input
          background: #fff
          border: none
          width: 100%
        .input:focus
          background: #fff
      .search .title,
      .search .close
        display: none
  @media (min-width: 1024px)
    &__content
      .list
        width: 100%
      .item
        margin-right: 2.5rem
        .seals
          margin-left: auto
          & > *
            margin-left: 1rem
            margin-right: 1rem
      .search
        width: 320px
        flex: none

  .modalGallery
    width: 98vw
    max-width: 600px
    position: relative;
    .figure
      display: flex;
      justify-content: center;
      align-items: center;
      background: #555
      width: 100%
      height: initial
      img
        width: 100%
        height: auto;
        display: block;
    .swiperGallery-btn-next,
    .swiperGallery-btn-prev
      align-items: center;
      background-color: $color-secondary
      border-radius: 50%
      color: #fff
      cursor: pointer;
      display: flex;
      font-size: 0.7rem
      height: 2.4rem
      justify-content: center;
      position: absolute;
      top: 48%
      width: 2.4rem
      z-index: 3
    .swiperGallery-btn-next
      right: 1rem
    .swiperGallery-btn-prev
      left 1rem
