.c-cover-page
  position: relative;
  &__titles
    color: #fff
    height: 40rem
    .principal,
    .secondary
      line-height: 1
      margin: 0
    .principal
      font-size: 3rem
      font-weight: 600
      letter-spacing: 4px
      max-width: 35rem
    .secondary
      font-size: 1.5rem
      font-weight: 500
      letter-spacing: 1px
      margin-top: 3rem
      max-width: 28rem

  &__form
    background-color: #fff
    border-radius: 1rem
    overflow: hidden;
    position: absolute;
    right: 3rem
    top: 50%
    transform: translateY(-50%)
    width: 450px
    & > *
      padding: 0.75rem 1.5rem
    .tabs
      display: flex;
      padding: 0
    .tabs > *
      background-color: $color-secondary
      border-bottom: 3px solid darken($color-secondary, 20%)
      color: #fff
      font-size: 1.1rem
      margin: 0
      padding: 1.25rem 0
      text-align: center;
      width: 100%
      cursor: pointer;
    .is-active
      background-color: $color-primary
      border-bottom: 3px solid $color-primary
  &__form
    .range-inputs
      background-color: $color-primary
      color: #fff
      .title
        font-size: 21px
        font-weight: 500
      .title + .price
        background-color: #fff
        border-radius: 5px
        color: $color-text
        font-size: 1rem
        font-weight: 500
        padding: 2px
        border: none
        max-width: 6rem
        width: 100%
        text-align: center;
        margin-left: auto;
      .symbol
        color: $color-text
        margin-left: 5px
        font-weight: 700
      .hr
        border-bottom: 2px solid darken($color-primary, 10%)
        margin-bottom: 1rem
        margin-top: 1rem
        width: 100%
      .footer
        font-size: 0.8rem
        font-weight: 500
        margin-top: -10px
  &__form
    .description
      padding-bottom: 0
      & > *
        border-bottom: 1px solid rgba($color-secondary, 0.2)
        color: #555
        font-size: 18px
        font-weight: 500
        margin-bottom: 5px
        padding-bottom: 10px
      .text
        color: $color-secondary
        font-size: 14px
    .extension
      font-size: 0.8rem
      color: $color-secondary
      padding-bottom: 0.2rem
      input[type="checkbox"]
        width: 2rem
    .submit
      padding-top: 0
      button
        background-color: $color-primary
        color: #fff
        border-radius: 1rem
        font-weight: 600
        padding: 0.75rem 2rem
        display: block;
        margin-left: auto;
        margin-right: auto;

  @media (max-width:1100px)
    &__titles
      height: 30rem
      .principal,
      .secondary
        max-width: 40rem
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    &__form
      position: static;
      transform: none
      margin-top: 1.5rem
      margin-bottom: 1.5rem
      margin-left: auto;
      margin-right: auto;
      box-shadow: 7px 7px 10px rgba(#000, .2)

  @media (max-width: 750px)
    &__titles
      .principal
        font-size: 2.5rem
        letter-spacing: 0
      .secondary
        font-size: 1.3rem
        margin-top: 2rem
    &__form
      max-width: 450px
      width: 100%
      .tabs > *
        font-size: 0.9rem
        padding: 1rem 0
