.c-home
  color: $color-text
  .title-section
    font-size: 1.4rem
    font-weight: 300
    color: #333
    margin: 0 0 3.5rem 0
    strong
      font-weight: 600
    @media (min-width: 750px)
      font-size: 1.75rem
      text-align: center;

  &__cover-page
    height: 25rem
    position: relative;
    .swiper-cover-page
      .item
        background-size: cover !important;
        background-position: center center !important;
        height: 25rem
        width: 100vw
    .swiperCP-btn-next,
    .swiperCP-btn-prev
      align-items: center;
      background-color: $color-secondary
      border-radius: 50%
      color: #fff
      cursor: pointer;
      display: flex;
      font-size: 0.7rem
      height: 2.4rem
      justify-content: center;
      position: absolute;
      top: 40%
      width: 2.4rem
      z-index: 3
    .swiperCP-btn-next
      right: 2rem
    .swiperCP-btn-prev
      left 2rem
    .content
      align-items: flex-end;
      background-color: rgba(#000, .2)
      display: flex;
      height: 100%
      left: 0
      padding-bottom: 10%
      position: absolute;
      top: 0
      width: 100%
      z-index: 2
      .btn-associate,
      .btn-contact
        border: none
        color: #fff
        margin-right: 1rem
        padding: 1rem 0
        width: 14rem
      .btn-contact
        background: $color-primary
        margin-top: 1rem
      .btn-associate
        background: $color-tertiary
    @media (min-width: 450px)
      height: calc(100vh - 4.2rem)
      .swiper-cover-page
        .item
          height: calc(100vh - 4.2rem)
    @media (min-width: 1024px)
      height: calc(100vh - 5.5rem)
      .swiper-cover-page
        .item
          height: calc(100vh - 5.5rem)

  &__about
    padding: 2rem 0
    margin-left: auto;
    margin-right: auto;
    .content
      max-width: 300px
      margin-right: auto;
      margin-left: auto;
    .header
      font-size: 0.8rem
      text-transform: uppercase;
      margin: 0 0 1rem 0
      font-weight: 300
    .title
      color: $color-tertiary
      font-weight: 300
      font-size: 1.5rem
      margin: 0
      line-height: 1
    .paragraph
      font-size: 0.8rem
    .button
      background-color: #50C400
      color: #efefef
      height: 3.35rem
      display: flex;
      justify-content: center;
      align-items: center;
      width: 15rem
      border none
      font-weight: 600
    .video
      margin-top: 2rem
      display: flex;
      justify-content: center;
      align-items: center;
      iframe
        width: 300px
    @media (min-width: 600px)
      .header
        font-size: 0.9rem
      .title
        font-size: 1.75rem
      .paragraph
        font-size: 0.9rem
      .video iframe
        width: 370px
    @media (min-width: 750px)
      display: flex;
    @media (min-width: 850px)
      justify-content: center;
      padding: 4rem 0
      .content
        margin-left: initial
        max-width: 400px
        margin-right: 3rem

  &__associates
    .item
      padding-bottom: 0.75rem
      cursor: pointer;
      & > *
        box-shadow: 6px 7px 10px rgba(#000, .2)
      figure
        width: 100%
        height: 10rem
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center
        background: #333
      figure img
        height: 100%
      .paragraph
        margin: 0
        padding: 0 1rem
        height: 3.8rem
        background: $color-tertiary
        display: flex;
        align-items: center;
        color: #fff
        text-transform: uppercase;
        font-size: 14px
        font-weight: 600
    .swiperAss-btn-next,
    .swiperAss-btn-prev
      align-items: center;
      background-color: $color-secondary
      border-radius: 50%
      color: #fff
      cursor: pointer;
      display: flex;
      font-size: 0.7rem
      height: 2.4rem
      justify-content: center;
      position: absolute;
      top: 40%
      width: 2.4rem
      z-index: 3
    .swiperAss-btn-next
      right: -1rem
    .swiperAss-btn-prev
      left -1rem
    .footer
      text-align: center;
      margin-top: 3rem
      .paragraph
        font-weight: 600
        margin-top: 0
        color: #333
        font-size: 1.2rem
      .button
        background: $color-primary
        color: #fff
        padding: 1rem 1.5rem
        font-weight: 600;
        font-size: 0.9rem
        border: none

  &__tv
    color: #fff
    background: $color-secondary
    padding: 4rem 0
    .title
      margin: 0
      padding-bottom: 1rem
      border-bottom: 1px solid #fff
      margin-bottom: 1rem
    .list
      display: flex;
      flex-wrap: wrap;
      .item
        margin: 0.5rem
      .paragraph
        margin-bottom: 0
  &__news
    padding: 4rem 0
    .list
      display: flex;
      flex-wrap: wrap;
      .item
        width: 16rem
        margin: 0.5rem
        position: relative;
        cursor: pointer;
      .tag
        position: absolute;
        top: 1rem
        right: 0
        text-align: center;
        padding: 0.5rem 1rem
        color: #fff
        background: #f00
        font-size: 0.8rem
      figure
        height: 11rem
        width: 100%
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background: #333
        img
          height: 100%
      .text
        color: #fff
        background: $color-primary
        padding: 1rem
      .text .date
        font-weight: 300
        font-size: 0.7rem
      .text .title
        margin: 5px 0 0 0
        font-size: 0.9rem
        text-transform: uppercase;
        line-height: 1.2


.c-home__modal-contact
  padding: 2rem 3rem
  .title
    color: $color-primary
    margin-top: 0
    font-size: 2rem
  input, textarea
    border-radius: 5px
    border: 1px solid #ddd
    padding: 0.5rem 1rem
    width: 100%
    font-size: 0.9rem
  textarea
    height: 5rem
  @media (max-width: 750px)
    padding: 1.5rem
    2rem
