.c-modal-container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  // opacity: 1;
  // transition: opacity 5s ease;

  &__wrapper {
    background-color: rgba(0, 0, 0, .8);
    cursor: pointer;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    margin: 0px auto;
    max-width: 1200px;
    overflow: hidden;
    position: relative;
    z-index: 2;
    transition: all 0.5s ease;
  }
}

.modalOpacity-enter-active, .modalOpacity-leave-active {
  transition: all 0.5s ease;
  opacity: 1;
  .c-modal-container__content {
    transform: scale(1);
  }
}
.modalOpacity-enter, .modalOpacity-leave-to {
  opacity: 0;
  .c-modal-container__content {
    transform: scale(1.1);
  }
}

// .modalOpacity-enter-to {
//   opacity: 0;
// }
// .modalContent-enter-active {
//   opacity: 0;
// }
// .modalContent-leave-to {
//
// }
// .modalOpacity-leave-active {
//
// }
// .modalOpacity-enter-to .c-modal-container__content,
// .modalOpacity-leave-active .c-modal-container__content {
//   transform: scale(1.1);
// }



// .modalContent-enter-active, .modalContent-leave-active {
//   transition: 1s ease all;
// }
// .modalContent-enter-to, .modalContent-leave-to {
//   transform: scale(1.1);
// }
