<template lang="pug">
div
  app-header(
    @open-modal="modalActive = true",
    :in_data="dataJson")

  .c-blog
    h2.c-blog__title
      |Actividades y Noticias
    .c-blog__wrapper
      .c-blog__content
        .c-blog__item.wow.fadeInUp(
          v-for="(element, index) in dataBlog",
          :key="`blog__item${index}`")
          figure.figure
            img(:src="element.imageUrl")
          p.date {{element.date}}
          a.description(:href="`/blog/${element.slug}`")
            |{{element.title}}
          //- a.button(
          //-   )
          //-   |Leer más
      .c-posts__aside
        subscription()
        h3.title Publicaciones
        .categories#c-subscription
          a(href="/blog")
            |Todas las categorias
          //- a(v-for="(element, index) in dataTags",
          //-   :key="`categories${index}`",
          //-   :href="`/blog?categoria=${element.slug}`",
          //-   @click.prevent="$router.push({name: 'Blog', query: {categoria: element.slug}})")
          a(v-for="(element, index) in dataTags",
            :key="`categories${index}`",
            :href="`/blog?categoria=${element.slug}`")
            |{{element.name}}

        h3.title Síguenos en facebook
        .u-pb3
        iframe(
          :src="`https://www.facebook.com/plugins/page.php?href=${encodeURIComponent(dataJson.facebook)}&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=757347147757555`",
          style="height:500px;;width:100%;border:none;overflow:hidden",
          scrolling="no", frameborder="0", allowTransparency="true")



  .c-home
    modal-contact(
      :active="modalActive",
      @close="modalActive = false")

  app-footer(
    :in_data="dataJson",
    @open-modal="modalActive = true")
</template>

<script>
  import axios from 'axios'
  export default {
    data () {
      return {
        modalActive: false,
        dataJson: {},
        dataBlog: [],
        dataTags: []
      }
    },
    created () {
      this.requestHome()
      this.requestBlog()
      this.requestTags()
    },
    methods: {
      requestHome () {
        axios({
          method: 'get',
          url: `${window.PATH}/api/home`,
          headers: { 'Content-Type': 'application/json' }
        })
          .then(({ data }) => {
            this.dataJson = data.data
          })
      },
      requestBlog () {
        let dataRequest = {
          method: 'get',
          url: `${window.PATH}/api/posts`,
          headers: { 'Content-Type': 'application/json' }
        }
        if (this.$route.query.categoria) {
          dataRequest.params = {
            tag: this.$route.query.categoria
          }
        }
        axios(dataRequest)
          .then(({ data }) => {
            this.dataBlog = data.data
          })
      },
      requestTags () {
        axios({
          method: 'get',
          url: `${window.PATH}/api/tags`,
          headers: { 'Content-Type': 'application/json' }
        })
          .then(({ data }) => {
            this.dataTags = data.data
          })
      }
    }
  }
</script>
