<template lang="pug">
  .c-app-footer
    .c-app-footer__content.o-container
      figure.logo
        img(:src="in_data.logoUrlWhite")

      div
        h4.title CONTÁCTANOS
        .data
          p.u-mt0.u-mb0
            i.u-icon compass
            |{{in_data.address}}
          p.u-mt1.u-mb0(style="cursor:pointer",
            @click="contactWhatsapp")
            i.u-icon whatsapp
            |{{in_data.cellphone}} / {{in_data.phone}}
          p.u-mt1.u-mb0
            i.u-icon mail
            |{{in_data.email}}
          p.u-mt1.u-mb0
            |Atendemos {{in_data.schedules}}

        h4.title VISÍTANOS
        .socials
          a.facebook(v-show="in_data.facebook",
            :href="in_data.facebook",
            target="_blank")
            i.u-icon facebook
          a.twitter(v-show="in_data.twitter",
            :href="in_data.twitter",
            target="_blank")
            i.u-icon twitter
          a.youtube(v-show="in_data.youtube",
            :href="in_data.youtube",
            target="_blank")
            i.u-icon youtube
          a.googleplus(v-show="in_data.googleplus",
            :href="in_data.googleplus",
            target="_blank")
            i.u-icon gplus
          a.instagram(v-show="in_data.instagram",
            :href="in_data.instagram",
            target="_blank")
            i.u-icon instagram
      div(style="flex:none")
        <iframe :src="`https://www.facebook.com/plugins/page.php?href=${encodeURIComponent(in_data.facebook)}&tabs=timeline&width=288&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId`" width="288" height="350" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>

    .c-app-footer__copyright
      p.u-mt0.u-mb0 ©2017 EMALTUR Company. Todos los derechos reservados
      p.u-mt0.u-mb0.u-flex
        span Desarrollado por
        a.u-ml1(href="http://noveltie.la", target="_blank") Noveltie
</template>

<script>
  export default {
    props: {
      in_data: {
        type: Object,
        default () {
          return {}
        }
      }
    },
    methods: {
      toSection (text) {
        let scrollTop = window.$(text).offset().top
        window.$('html, body').animate({
          scrollTop: scrollTop - 112
        }, 700)
      },
      contactWhatsapp (tmp, tmp2) {
        let url = 'whatsapp://send'
        url += '?phone=' + this.in_data.cellphone
        url += '&text=Quiero más información sobre EMALTUR.%0A'
        let vartmp = window.open(url, this.in_data.name, 'menubar=1,resizable=1,width=400,height=500')
        if (tmp2) { console.log(vartmp) }
      }
    }
  }
</script>
