<template lang="pug">
  .c-app-header(:class="{'is-displayed': displayed}")
    .c-app-header__wrapper
      .o-container
        a.c-app-header__logo(href="/")
          img(:src="in_data.logoUrl")

        .c-app-header__bg(@click="displayed = false")
        .c-app-header__menu()
          button.btn-close(
            @click="displayed = false")
            i.u-icon close
          a.link.about(href="#c-home__features",
            @click.prevent="$router.push({name: 'About'})")
            |Sobre Emaltur
          a.link(href="#c-home__services",
            @click.prevent="$router.push({name: 'Companies'})")
            |Asociados
          a.link(href="#c-home__advantages",
            @click.prevent="$router.push({name: 'Blog'})")
            |Publicaciones
          a.link.contact(href="#contacto",
            @click.prevent="$emit('open-modal')")
            |Contacto
          button.btn-associate.u-btn-scale(@click="toAssociate")
            |QUIERO ASOCIARME
          .socials
            a.facebook(v-show="in_data.facebook",
              :href="in_data.facebook",
              target="_blank")
              i.u-icon facebook
            a.twitter(v-show="in_data.twitter",
              :href="in_data.twitter",
              target="_blank")
              i.u-icon twitter
            a.youtube(v-show="in_data.youtube",
              :href="in_data.youtube",
              target="_blank")
              i.u-icon youtube
            a.googleplus(v-show="in_data.googleplus",
              :href="in_data.googleplus",
              target="_blank")
              i.u-icon gplus
            a.instagram(v-show="in_data.instagram",
              :href="in_data.instagram",
              target="_blank")
              i.u-icon instagram

        .c-app-header__aside()
          a.link(href="#contacto",
            @click.prevent="$emit('open-modal')")
            |Contacto
          button.btn-associate.u-btn-scale(@click="toAssociate")
            |QUIERO ASOCIARME
          .socials
            a.facebook(v-show="in_data.facebook",
              :href="in_data.facebook",
              target="_blank")
              i.u-icon facebook
            a.twitter(v-show="in_data.twitter",
              :href="in_data.twitter",
              target="_blank")
              i.u-icon twitter
            a.youtube(v-show="in_data.youtube",
              :href="in_data.youtube",
              target="_blank")
              i.u-icon youtube
            a.googleplus(v-show="in_data.googleplus",
              :href="in_data.googleplus",
              target="_blank")
              i.u-icon gplus
            a.instagram(v-show="in_data.instagram",
              :href="in_data.instagram",
              target="_blank")
              i.u-icon instagram
          button.btn-menu(
            @click="displayed = !displayed")
            i.u-icon menu
</template>

<script>
  export default {
    props: {
      in_data: {
        type: Object,
        default () {
          return {}
        }
      }
    },
    data () {
      return {
        displayed: false
      }
    },

    methods: {
      toSection (text) {
        // this.displayed = false
        // let scrollTop = window.$(text).offset().top
        // window.$('html, body').animate({
        //   scrollTop: scrollTop - 112
        // }, 700)
      },
      toAssociate () {
        window.location = '/sobre-emaltur#associates'
      }
    }
  }
</script>
