<template lang="pug">
  modal-container(
    :active="active",
    @close="$emit('close')")
    div(slot="content", style="width:100vw;height:400px;max-width:550px")
      gmap-map(
        :center="{lat:latitude, lng:longitude}",
        :zoom="16",
        map-type-id="terrain",
        style="width: 100%; height: 100%")
        gmap-marker(
          :position="{lat:latitude, lng:longitude}",
          :clickable="true",
          :draggable="false",
          @click="info = !info")
          gmap-info-window(
            :position="{lat:latitude, lng:longitude}",
            :opened="info")
            div(v-html="text")
</template>

<script>
  import Vue from 'vue'
  export default {
    props: {
      active: {
        type: Boolean,
        default: true
      },
      latitude: {
        type: Number,
        default: 0
      },
      longitude: {
        type: Number,
        default: 0
      },
      text: {
        type: String,
        default: ''
      }
    },
    data () {
      return {
        info: true
      }
    },
    watch: {
      active () {
        Vue.$gmapDefaultResizeBus.$emit('resize')
      }
    }
  }
</script>
