<template lang="pug">
  modal-container(
    :active="active",
    @close="$emit('close')")
    div(slot="content", class="c-home__modal-contact")
      H2.title Contáctanos
      input(
        v-model="dataForm.name",
        placeholder="Nombre y apellido")
      span(v-show="valiName",
        style="color:orange;font-size:0.8rem")
        |Por favor complete este campo!
      .u-flex.u-mt2
        div
          input(
            v-model="dataForm.email",
            placeholder="Correo electrónico")
          span(v-show="valiEmail",
            style="color:orange;font-size:0.8rem")
            |Por favor complete este campo!
        div.u-ml2
          input(
            v-model="dataForm.cellphone",
            placeholder="Celular")
          span(v-show="valiCellphone",
            style="color:orange;font-size:0.8rem")
            |Por favor complete este campo!
      .u-flex.u-mt2
        input.u-mr1(
          v-model="dataForm.city",
          placeholder="Ciudad")
        input.u-ml1(
          v-model="dataForm.country",
          placeholder="País")
      input.u-mt2(
        v-model="dataForm.subject",
        placeholder="Asunto")
      span(v-show="valiSubject",
        style="color:orange;font-size:0.8rem")
        |Por favor complete este campo!
      textarea.u-mt2(style="display:block",
        v-model="dataForm.message",
        placeholder="Mensaje")
      span(v-show="valiMessage",
        style="color:orange;font-size:0.8rem")
        |Por favor complete este campo!
      vue-recaptcha(
        @verify="verefyCapcha",
        :sitekey="sitekey",
        class="u-mt2")
      span(v-show="valiRecaptcha",
        style="color:orange;font-size:0.8rem")
        |Por favor complete este campo!
      button.c-button.u-mt2(
        type="button",
        @click="submitContact")
        span Enviar
</template>

<script>
  import axios from 'axios'
  import VueRecaptcha from 'vue-recaptcha'

  export default {
    components: { VueRecaptcha },
    props: {
      active: {
        type: Boolean,
        default: true
      }
    },
    data () {
      return {
        sitekey: '6LdA-g8UAAAAAEvHOIl8vXLSz9sIsDSe4VgkvMPB',
        dataForm: {
          cellphone: '',
          city: '',
          country: '',
          email: '',
          message: '',
          name: '',
          subject: '',
          recaptcha: false
        },
        valiName: false,
        valiEmail: false,
        valiCellphone: false,
        valiSubject: false,
        valiMessage: false,
        valiRecaptcha: false,
        emailRegex: /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i,
        cellRegex: /\+?[0-9]+-?\d{8}$/
      }
    },
    watch: {
      'dataForm.name' (newVal) {
        if (newVal) { this.valiName = false }
      },
      'dataForm.email' (newVal) {
        if (this.emailRegex.test(newVal)) {
          this.valiEmail = false
        }
      },
      'dataForm.cellphone' (newVal) {
        if (this.cellRegex.test(newVal)) {
          this.valiCellphone = false
        }
      },
      'dataForm.subject' (newVal) {
        if (newVal) { this.valiSubject = false }
      },
      'dataForm.message' (newVal) {
        if (newVal) { this.valiMessage = false }
      },
      'dataForm.recaptcha' (newVal) {
        if (newVal) { this.valiRecaptcha = false }
      }
    },
    methods: {
      verefyCapcha (tmp) {
        this.dataForm.recaptcha = tmp
      },
      submitContact () {
        if (this.dataForm.name) {
          if (this.emailRegex.test(this.dataForm.email)) {
            if (this.cellRegex.test(this.dataForm.cellphone)) {
              if (this.dataForm.subject) {
                if (this.dataForm.message) {
                  if (this.dataForm.recaptcha) {
                    this.postContact()
                  } else {
                    this.valiRecaptcha = true
                  }
                } else {
                  this.valiMessage = true
                }
              } else {
                this.valiSubject = true
              }
            } else {
              this.valiCellphone = true
            }
          } else {
            this.valiEmail = true
          }
        } else {
          this.valiName = true
        }
      },
      postContact () {
        window.toastr.warning('Tus datos se estan procesando, espere por favor', 'EMALTUR')
        axios({
          method: 'post',
          url: `${window.PATH}/api/contact`,
          headers: { 'Content-Type': 'application/json' },
          data: this.dataForm
        })
          .then(({ data }) => {
            this.$emit('close')
            window.toastr.success('Tus datos fueron enviados exitosamente', 'EMALTUR')
            this.dataForm = {
              cellphone: '',
              city: '',
              country: '',
              email: '',
              message: '',
              name: '',
              subject: ''
            }
          })
          .catch(({ response }) => {
            this.$emit('close')
            window.toastr.error('Lo sentimos, ha ocurrido un error al enviar tus datos', 'EMALTUR')
          })
      }
    }
  }
</script>
