<template lang="pug">
  transition(name="modalOpacity")
    .c-modal-container(v-show="active")
      .c-modal-container__wrapper(
        @click="$emit('close')")

      .c-modal-container__content
        slot(name="content")
</template>

<script>
  export default {
    props: {
      active: {
        type: Boolean,
        default: true
      }
    }
  }
</script>
