<template lang="pug">
  .c-subscription
    h3.c-subscription__title
      |Suscríbete
    p.c-subscription__subtitle
      |Enterate sobre nuestras novedades

    input(v-model="dataJson.name",
      placeholder="Nombres y Apellidos",
      :class="{'is-validate': valiName}")
    span(v-show="valiName",
      style="color:yellow;font-size:0.8rem")
      |Por favor complete este campo!

    input(v-model="dataJson.email",
      placeholder="Email",
      :class="{'is-validate': valiEmail}")
    span(v-show="valiEmail",
      style="color:yellow;font-size:0.8rem")
      |Por favor complete este campo!

    input(v-model="dataJson.celphone",
      placeholder="Celular")

    textarea(v-model="dataJson.interests",
    placeholder="Cuentanos sobre tus intereses")

    button.c-subscription__submit(
      @click="dataValidation")
      |SUSCRIBIRME
</template>

<script>
  import axios from 'axios'

  export default {
    data () {
      return {
        dataJson: {
          name: '',
          email: '',
          celphone: '',
          interests: ''
        },
        valiName: false,
        valiEmail: false
      }
    },
    watch: {
      'dataJson.name' (newVal) {
        if (newVal) {
          this.valiName = false
        }
      },
      'dataJson.email' (newVal) {
        let emailRegex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i
        if (emailRegex.test(newVal)) {
          this.valiEmail = false
        }
      }
    },
    methods: {
      dataValidation () {
        if (this.dataJson.name !== '') {
          let emailRegex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i
          if (emailRegex.test(this.dataJson.email)) {
            this.postsSubscription()
          } else {
            this.valiEmail = true
            // window.toastr.warning('Ingrese su correo electrónico para poder continuar con la suscripción', 'EMALTUR')
          }
        } else {
          this.valiName = true
          // window.toastr.warning('Ingrese su nombre para poder continuar con la suscripción', 'EMALTUR')
        }
      },
      postsSubscription () {
        window.toastr.warning('Estamos procesando tus datos, espere por favor.', 'EMALTUR')
        axios({
          method: 'post',
          url: `${window.PATH}/api/subscription`,
          headers: { 'Content-Type': 'application/json' },
          data: this.dataJson
        })
          .then(({ data }) => {
            window.toastr.success('Tus datos fueron enviados exitosamente', 'EMALTUR')
            // this.dataJson = {
            //   name: '',
            //   email: '',
            //   celphone: ''
            // }
          })
          .catch(({ response }) => {
            window.toastr.error('Usted ya se ha registrado a nuestra plataforma.', 'EMALTUR')
          })
      }
    }
  }
</script>

<style lang="stylus">
  .c-subscription
    .hr
      align-items: center;
      display: flex;
      font-size: 0.9rem
      font-weight: 600;
      width: 100%
      &::before, &::after
        width: 100%
        border-bottom: 1px solid #ddd
        content: ''
        display: block;
        height: 5px
      span
        flex: none
        padding: 0 0.5rem
    .button-facebook,
    .button-gooplus
      align-items: center
      border-radius: 2rem
      border: none
      color: #fff
      display: flex;
      font-size: 0.7rem
      font-weight: 800
      height: 2.5rem
      justify-content: center;
      padding: 0 1rem
      width: 100%
      img
        height: 1.5rem
      .u-icon
        font-size: 1.2rem
    .button-facebook
      background-color: #3f569b
    .button-gooplus
      background-color: #dc4a38
</style>
