.c-blog
  background: #F2F2F2
  padding: 2rem $padding-x 0 $padding-x
  // display: flex;
  // flex-wrap: wrap;
  @media (min-width: $td-pt)
    padding: 3rem $padding-x-td 0 $padding-x-td
  //   max-width: 1024px
  //   margin: 0 auto;
  &__wrapper
    @media (min-width: $desktop)
      display: flex;
      max-width: 1024px
      margin: 0 auto;
      .c-blog__content
        margin-right: 2rem
  &__title
    color: $color-secondary
    font-size: 2rem
    text-align: center;
    @media(min-width: $td-pt)
      font-size: 2.5rem
    @media (min-width: $desktop)
      margin: 4rem 0 3rem 0

  &__content
    margin: 0 auto 2rem auto;
    & > *
      margin-top: 2rem
    & > *:nth-child(1)
      margin-top: 0
    @media(min-width: $small-td)
      display: flex;
      flex-wrap: wrap;
      margin: 0 auto 3rem auto;
      width: 100%
      & > *
        width: calc(50% - 8px)
      & > *:nth-child(2)
        margin-top: 0
      & > *:nth-child(2n)
        margin-left: 8px
      & > *:nth-child(2n-1)
        margin-right: 8px
    @media (min-width: $desktop)
      max-width: initial
  &__item
    border-bottom: 1px solid #ddd
    padding-bottom: 1rem
    &:nth-child(1)
      margin-top: 0
    .figure
      align-items: center;
      display: flex;
      height: 250px
      justify-content: center;
      overflow: hidden;
      width: 100%
      img
        height: 100%
        width: auto;
    .date
      font-size: 0.9rem
      font-weight: 300
      margin: 0.5rem 0 0.5rem 0
      opacity: 0.5
    .description
      font-size: 1.1rem
      font-weight: 300
      line-height: 1.2
      margin 0 0 0rem 0
      opacity: 0.85
      &:hover
        text-decoration: underline;
    .button
      background-color: $color-secondary
      border: none
      color: #fff
      font-size: 0.8rem
      font-weight: 700
      padding: 0.6rem 0
      text-align: center;
      width: 10rem
    @media (min-width: $td)
      .figure
        height: 310px
      .date
        font-size: 1rem
      .description
        font-size: 1.25rem

  .c-posts__aside
    margin: 0 auto 3rem auto
    width: 350px
    flex: none
    .title
      border-bottom: 1px solid #ddd
      font-size: 1.3rem
      font-weight: 500;
      margin: 1.5rem 0
      padding-bottom: 1rem
    .categories
      color: #666
      font-size: 1.2rem
      padding: 0.75rem 0
      & > *
        align-items: center;
        display: flex;
      & > *::before
        background-color: #5c5
        border-radius: 50%
        content: ''
        height: 8px
        margin-right: 0.5rem
        width: 8px
      & > *:hover
        text-decoration: underline;
