.c-blog-profile

  &__cover-page
    background-position: center center !important;
    background-size: cover !important;
    color: #fff
    display: flex;
    flex-direction: column;
    height: 300px
    justify-content: flex-end;
    padding: 3rem $padding-x
    position: relative;
    & > *
      margin: 0 auto;
      max-width: 1024px
      width: 100%
    & > *::before
      top: 0
      left: 0
      background: rgba(#000, .4)
      content: ''
      width: 100%
      height: 100%
      position: absolute;
    @media (min-width: $td-pt)
      padding: 3rem $padding-x-td

  .c-blog-profile__title
    font-size: 2rem
    font-weight: 900
    line-height: 1
    margin: 0
    text-transform: uppercase;
    width: 100%
    position: relative;
    opacity: .8
  .c-blog-profile__date
    opacity: .8
    font-size: 1.3rem
    position: relative;
    line-height: 1
    margin: 0.5rem 0 0 0 !important

  &__related
    display: flex;
    .figure
      width: 7rem
      height: 7rem
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      flex: none;
      margin-right: 1.2rem
      img
        width: auto
        height: 100%
    .name
      font-size: 0.9rem
      font-weight: 400
      margin-top: 0
      line-height: 1.1
    .date
      color: #777
      text-transform: uppercase;
      font-size: 0.8rem
      margin: 0
  &__shareds
    display: flex;
    color: $color-primary3
    font-weight: 600
    align-items: center;
    margin-top: 1.5rem
    & > *
      margin: 0 1rem 0 0
    .u-icon
      border-radius: 50%
      height: 2rem
      width: 2rem
      display: flex;
      justify-content: center;
      align-items center
      margin: 0 0.25rem
      color: #fff
      cursor: pointer;
    .u-icon.u-icon--facebook
      background-color: #2B5998
    .u-icon.u-icon--twitter
      background-color: #4099FF

  .c-blog
    &__wrapper
      padding-top: 4rem
    &__content
      display: block;
      padding-bottom: 2rem
      .text
        width: 100%
        font-size: 1.2rem
        color #555
        text-align: justify;
      img
        height: 20rem;
        width: auto;
        margin: 0 auto;
        display: block;
      @media (min-width: $desktop)
        padding-right: 2rem
    // .c-posts__aside
    //   .title
    //     margin-top: 0
