.c-subscription
  align-items: center;
  background $color-tertiary
  color: #fff
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem
  position: relative;
  text-align: center;
  max-width: 328px
  &__title
    font-size: 1.5rem
    margin: 0
  &__subtitle
    font-size: 0.8rem
    margin: 0 0 0.5rem 0
  input, textarea
    background: #fff
    border: none
    font-size: 0.8rem
    color: #999
    margin-top: 0.5rem
    text-align: center;
    width: 100%
    padding: 0.8rem 1rem
  input::placeholder,
  textarea::placeholder
    color: #aaa
  textarea
    height: 7rem
  &__submit
    background-color: $color-primary;
    border: none
    font-size: 1rem
    font-weight: 600
    height: 3.5rem
    width: 100%
    margin-top: 0.5rem
  &__footer
    font-size: 0.7rem
    padding: 0 2rem
