<template lang="pug">
  button.c-button(
  :class="{ 'c-button--transparent': modifierTransparent }",
  :type="type",
  @click="$emit('click')")
    span {{ text }}
</template>

<script>
  export default {
    props: {
      modifierTransparent: {
        type: Boolean,
        default: false
      },
      text: {
        type: String,
        required: true,
        default: '¡Hola! Soy un boton'
      },
      type: {
        type: String,
        default: 'button'
      }
    }
  }
</script>
